br-animation-portal {
  display: contents;
  transition: none !important;
}

br-animation-portal {
  > *:not(.br-animation-portal-internal-appear):not(
      .br-animation-portal-internal-prevent-appear
    ):not(.br-animation-portal-appear):not(.br-animation-portal-disappear) {
    visibility: hidden;
    position: absolute;
  }

  > .br-animation-portal-appear:not(.br-animation-portal-internal-prevent-appear) {
    animation: var(--animation-name-appear) var(--animation-portal-appear-duration)
      var(--animation-portal-appear-easing) forwards;
    will-change: var(--animation-appear-will-change);
  }

  > .br-animation-portal-disappear:not(.br-animation-portal-internal-prevent-appear) {
    animation: var(--animation-name-disappear) var(--animation-portal-disappear-duration)
      var(--animation-portal-disappear-easing) forwards;
    will-change: var(--animation-disappear-will-change);
  }

  > .br-animation-portal-internal-prevent-appear {
    animation: none;
  }

  > .br-animation-portal-preserve-size {
    position: absolute;
    width: var(--animation-portal-width);
    height: var(--animation-portal-height);
  }
}
