@import url('../../../../global/css/reset.css');

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .br-slider-legend-wrapper {
    position: absolute;
    display: inline-flex;
    flex-direction: var(--slider-legend-wrapper-flex-direction);
    align-items: center;
    justify-content: space-between;

    font-size: var(--slider-legend-tick-font-size);
    line-height: var(--slider-legend-tick-font-size);
    width: var(--slider-legend-wrapper-width);
    height: var(--slider-legend-wrapper-height);

    .br-slider-legend-tick-zero {
      font-size: var(--slider-legend-tick-font-size);
      line-height: var(--slider-legend-tick-font-size);
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    .br-slider-legend-tick {
      position: absolute;
      width: 0px;
      flex-grow: 0;
      overflow: visible;
      height: 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        text-wrap: nowrap;
        font-family: var(--typography-body-family);
        text-align: var(--slider-legend-wrapper-text-align);
        opacity: 0.5;
      }

      .br-slider-legend-tick-symbol {
        position: absolute;
        transform: var(--slider-legend-tick-symbol-translate);
        z-index: 1;
        width: var(--slider-tick-symbol-size);
        height: var(--slider-tick-symbol-size);
        border-radius: var(--slider-tick-symbol-size);
        background-color: var(--color-background);
        opacity: 1;
      }
    }
  }
}
