@import url('../../../global/css/reset.css');

:host {
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0.25;
  background-position: 100% 0%;
  background-size: 400px 100%;
  border-radius: var(--skeleton-border-radius);
  min-height: var(--skeleton-height);
  min-width: var(--skeleton-height);
}

:host([size='Xsmall']) {
  --skeleton-height: var(--actionable-element-height-x-small);
  --skeleton-border-radius: var(--actionable-element-border-radius-x-small);
}

:host([size='Small']) {
  --skeleton-height: var(--actionable-element-height-small);
  --skeleton-border-radius: var(--actionable-element-border-radius-small);
}

:host([size='Normal']) {
  --skeleton-height: var(--actionable-element-height-normal);
  --skeleton-border-radius: var(--actionable-element-border-radius-normal);
}

:host([size='Large']) {
  --skeleton-height: var(--actionable-element-height-large);
  --skeleton-border-radius: var(--actionable-element-border-radius-large);
}

:host([animation='Wave']) {
  background-image: linear-gradient(
    90deg,
    color-mix(in srgb, var(--skeleton-background-color) 25%, transparent) 0%,
    color-mix(in srgb, var(--skeleton-background-color) 100%, transparent) 50%,
    color-mix(in srgb, var(--skeleton-background-color) 25%, transparent) 100%
  );
  animation: wave 1.6s infinite linear;
}

:host([animation='Blink']) {
  background-color: var(--skeleton-background-color);
  animation: blink 3.2s infinite linear;
}

@keyframes wave {
  0% {
    background-position: -200px 0%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200px 0%;
  }
}

@keyframes blink {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.05;
  }
}

:host([width*='px']) {
  flex-shrink: 0;
}

:host([height*='px']) {
  flex-shrink: 0;
}
