:host {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--table-footer-padding);
  background-color: var(--color-background);
  border-bottom-left-radius: var(--table-footer-border-radius);
  border-bottom-right-radius: var(--table-footer-border-radius);
}

:host([theme='Light']) {
  border: 1px solid color-mix(in srgb, var(--table-border-edge-color) 15%, var(--color-background));
  border-top: 0px;
}

:host([theme='Dark']) {
  border: 1px solid color-mix(in srgb, var(--table-border-edge-color) 75%, var(--color-background));
  border-top: 0px;
}
