:host {
  display: flex;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--z-index-popover);

  br-scroll-area {
    width: fit-content;
    min-width: calc(var(--size-unit) * 80 + var(--size-unit) * 8);
  }
}

:host([placement='left']) {
  align-items: flex-start;
}

:host([placement='right']) {
  align-items: flex-end;
}

:host([placement='center']) {
  align-items: center;
}

:host {
  .br-toast-provider-content:not(:empty) {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    width: fit-content;
    min-width: calc(var(--size-unit) * 80 + var(--size-unit) * 8);
    padding: calc(var(--size-unit) * 4);
    box-sizing: border-box;
    min-height: 100%;
    gap: calc(var(--size-unit) * 4);
  }
}

:host([alignment='top']) {
  .br-toast-provider-content {
    justify-content: flex-start;
  }
}

:host([alignment='bottom']) {
  .br-toast-provider-content {
    justify-content: flex-end;
  }
}

:host([alignment='top'][latest-top]:not([latest-top='false'])) {
  .br-toast-provider-content {
    justify-content: flex-end;
  }
}

:host([alignment='bottom'][latest-top]:not([latest-top='false'])) {
  .br-toast-provider-content {
    justify-content: flex-start;
  }
}

:host([alignment='center']) {
  .br-toast-provider-content {
    justify-content: center;
  }
}
:host([latest-top]:not([latest-top='false'])) {
  .br-toast-provider-content {
    flex-direction: column-reverse;
  }
}
