@import url('../../../../global/css/reset.css');

:host {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  align-items: center;

  position: relative;
  width: 100%;

  .br-wizard-item-content {
    position: relative;
  }

  .br-wizard-item-divider-middle {
    position: absolute;
    width: 100%;
    z-index: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .br-wizard-item-divider-middle-left {
      width: 100%;
      flex-shrink: 1;
      height: 1px;
      background-color: color-mix(
        in srgb,
        var(--wizard-item-connector-color) var(--wizard-item-connector-color-opacity),
        transparent
      );
    }
    .br-wizard-item-divider-middle-right {
      width: 100%;
      flex-shrink: 1;
      height: 1px;
      background-color: color-mix(
        in srgb,
        var(--wizard-item-connector-color) var(--wizard-item-connector-color-opacity),
        transparent
      );
    }

    .br-wizard-item-divider-middle-item-marker {
      width: calc(var(--wizard-item-marker-size) + var(--wizard-item-marker-padding));
      flex-shrink: 0;
    }
  }
  .br-wizard-item-divider-left {
    flex-shrink: 1;
    width: 100%;
    height: 1px;
    background-color: color-mix(
      in srgb,
      var(--wizard-item-connector-color) var(--wizard-item-connector-color-opacity),
      transparent
    );
  }
  .br-wizard-item-divider-right {
    flex-shrink: 1;
    width: 100%;
    height: 1px;
    background-color: color-mix(
      in srgb,
      var(--wizard-item-connector-color) var(--wizard-item-connector-color-opacity),
      transparent
    );
  }

  br-icon:not([size]) {
    --svg-icon-size: var(--wizard-item-marker-icon-size);
  }

  ::slotted(*:not([size])) {
    --svg-icon-size: var(--wizard-item-marker-icon-size);
  }

  ::slotted(:not([slot])) {
    font-size: var(--wizard-item-font-size);
  }
}

:host {
  .br-wizard-item-content.br-wizard-item-disabled {
    .br-wizard-item-marker {
      opacity: 0.25;
    }
    .br-wizard-item-label {
      opacity: 0.25;
    }
  }
}

:host(:first-of-type) {
  .br-wizard-item-divider-left {
    display: none;
  }
}

:host(:last-of-type) {
  .br-wizard-item-divider-right {
    display: none;
  }
}

:host([direction='vertical']:last-of-type) {
  .br-wizard-item-divider-middle {
    .br-wizard-item-divider-middle-right {
      opacity: 0;
    }
  }
}

:host {
  .br-wizard-item-content {
    display: flex;
    flex-shrink: 0;
    width: fit-content;
    flex-direction: column;
    align-items: center;
  }

  .br-wizard-item-marker {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--wizard-item-marker-size);
    height: var(--wizard-item-marker-size);
    background-color: color-mix(
      in srgb,
      var(--wizard-item-marker-color) var(--wizard-item-marker-color-opacity),
      transparent
    );
    border-radius: 50%;
    z-index: 2;
  }

  .br-wizard-item-label {
    display: inline;
    font-size: var(--wizard-item-font-size);
  }
}

:host([theme]:not([finished]:not([finished='false']))) {
  ::slotted(*[slot='finished-icon']) {
    display: none;
  }

  br-icon {
    display: none;
  }
}

:host([theme][finished]:not([finished='false'])) {
  ::slotted(*[slot='icon']) {
    display: none;
  }
}

:host([direction='vertical']) {
  .br-wizard-item-marker {
    margin-bottom: var(--wizard-item-marker-padding);
  }

  .br-wizard-item-label {
    text-align: center;
  }

  .br-wizard-item-divider-middle {
    align-self: flex-start;
    transform: translateY(calc(var(--wizard-item-marker-size) / 2));
  }

  .br-wizard-item-divider-left {
    align-self: flex-start;
    transform: translateY(calc(var(--wizard-item-marker-size) / 2));
  }

  .br-wizard-item-divider-right {
    align-self: flex-start;
    transform: translateY(calc(var(--wizard-item-marker-size) / 2));
  }
}

:host([direction='horizontal']) {
  .br-wizard-item-content {
    flex-direction: row;
  }

  .br-wizard-item-marker {
    margin-right: var(--wizard-item-marker-padding);
  }

  .br-wizard-item-label {
    text-align: left;
  }

  .br-wizard-item-divider-middle {
    align-self: center;
    display: none;
  }
}

:host([direction='horizontal']:first-of-type) {
  .br-wizard-item-content {
    margin-right: var(--wizard-item-marker-padding);
  }
}

:host([direction='horizontal']:not(:first-of-type):not(:last-of-type)) {
  .br-wizard-item-content {
    margin-left: var(--wizard-item-marker-padding);
    margin-right: var(--wizard-item-marker-padding);
  }
}

:host([direction='horizontal']:last-of-type) {
  .br-wizard-item-content {
    margin-left: var(--wizard-item-marker-padding);
  }
}

:host([parent-direction='vertical'][direction]) {
  flex-direction: column;
  align-items: flex-start;

  .br-wizard-item-divider-middle {
    width: unset;
    height: 100%;
    min-height: calc(var(--wizard-item-marker-size) / 4);
    .br-wizard-item-divider-middle-left {
      height: 100%;
      width: 1px;
    }
    .br-wizard-item-divider-middle-right {
      height: 100%;
      min-height: calc(var(--wizard-item-marker-size) / 4);
      width: 1px;
    }

    .br-wizard-item-divider-middle-item-marker {
      height: calc(var(--wizard-item-marker-size) + var(--wizard-item-marker-padding));
    }
  }
  .br-wizard-item-divider-left {
    height: 100%;
    min-height: calc(var(--wizard-item-marker-size) / 4);
    width: 1px;
    transform: translateX(calc(var(--wizard-item-marker-size) / 2));
  }
  .br-wizard-item-divider-right {
    height: 100%;
    min-height: calc(var(--wizard-item-marker-size) / 4);
    width: 1px;
    transform: translateX(calc(var(--wizard-item-marker-size) / 2));
  }
}

:host([direction='vertical']:first-of-type) {
  .br-wizard-item-divider-middle {
    .br-wizard-item-divider-middle-left {
      opacity: 0;
    }
  }
}

:host([direction='horizontal'][parent-direction='vertical']:first-of-type) {
  .br-wizard-item-content {
    margin-right: 0;
    margin-bottom: var(--wizard-item-marker-padding);
  }
}

:host(
    [direction='horizontal'][parent-direction='vertical']:not(:first-of-type):not(:last-of-type)
  ) {
  .br-wizard-item-content {
    margin-left: 0;
    margin-right: 0;
    margin-top: var(--wizard-item-marker-padding);
    margin-bottom: var(--wizard-item-marker-padding);
  }
}

:host([direction='horizontal'][parent-direction='vertical']:last-of-type) {
  .br-wizard-item-content {
    margin-left: 0;
    margin-top: var(--wizard-item-marker-padding);
  }
}
:host([parent-direction='vertical'][direction='vertical']) {
  align-items: center;
  .br-wizard-item-divider-left {
    transform: none;
    align-self: center;
    margin-bottom: var(--wizard-item-marker-padding);
  }
  .br-wizard-item-divider-middle {
    opacity: 0;
  }
  .br-wizard-item-divider-right {
    transform: none;
    align-self: center;
  }
  .br-wizard-item-content {
    margin-bottom: var(--wizard-item-marker-padding);
  }
}

:host([size='Normal']) {
  --wizard-item-marker-padding: calc(2 * var(--size-unit));
  --wizard-item-marker-size: calc(6 * var(--size-unit));
  --wizard-item-marker-icon-size: calc(4 * var(--size-unit));
  --wizard-item-font-size: var(--actionable-element-font-size-normal);
}

:host([size='Large']) {
  --wizard-item-marker-padding: calc(3 * var(--size-unit));
  --wizard-item-marker-size: calc(8 * var(--size-unit));
  --wizard-item-marker-icon-size: calc(6 * var(--size-unit));
  --wizard-item-font-size: var(--actionable-element-font-size-large);
}

:host([theme='Light']) {
  --wizard-item-connector-color: var(--color-black);
  --wizard-item-connector-color-opacity: 15%;
}

:host([theme='Light']) {
  --wizard-item-marker-color: var(--color-neutral-500);
  --wizard-item-marker-color-opacity: 10%;

  --icon-color-1: var(--color-neutral-500);
  --icon-color-1-opacity: 100%;
  --icon-color-2: var(--color-neutral-500);
  --icon-color-2-opacity: 75%;
}

:host([theme='Light'][active]:not([active='false'])) {
  --wizard-item-marker-color: var(--color-primary-500);
  --wizard-item-marker-color-opacity: 10%;

  --icon-color-1: var(--color-primary-500);
  --icon-color-1-opacity: 100%;
  --icon-color-2: var(--color-primary-500);
  --icon-color-2-opacity: 75%;
}

:host([theme='Light'][finished]:not([finished='false'])) {
  --wizard-item-marker-color-opacity: 100%;

  --icon-color-1: var(--color-white);
  --icon-color-1-opacity: 100%;
  --icon-color-2: var(--color-white);
  --icon-color-2-opacity: 75%;
}

:host([theme='Dark']) {
  --wizard-item-connector-color: var(--color-white);
  --wizard-item-connector-color-opacity: 15%;
}

:host([theme='Dark']) {
  --wizard-item-marker-color: var(--color-neutral-300);
  --wizard-item-marker-color-opacity: 10%;

  --icon-color-1: var(--color-neutral-300);
  --icon-color-1-opacity: 100%;
  --icon-color-2: var(--color-neutral-300);
  --icon-color-2-opacity: 75%;
}

:host([theme='Dark'][active]:not([active='false'])) {
  --wizard-item-marker-color: var(--color-primary-300);
  --wizard-item-marker-color-opacity: 10%;

  --icon-color-1: var(--color-primary-300);
  --icon-color-1-opacity: 100%;
  --icon-color-2: var(--color-primary-300);
  --icon-color-2-opacity: 75%;
}

:host([theme='Dark'][finished]:not([finished='false'])) {
  --wizard-item-marker-color-opacity: 100%;

  --icon-color-1: var(--color-white);
  --icon-color-1-opacity: 100%;
  --icon-color-2: var(--color-white);
  --icon-color-2-opacity: 75%;
}
