*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules
oclif.manifest.json



yarn.lock
pnpm-lock.yaml

*.tsbuildinfo

# These directories can be created by the `designbase pull` command but we don't want to accidentally commit a bunch of core repo files from testing
apps/
packages/