@import url('../../../global/css/reset.css');

:host {
  --transition: var(--transition-default);
  display: inline-block;
  position: relative;

  button {
    width: auto;
    height: auto;
    transition: var(--transition);
  }
}

:host([shape][size][full-width]:not([full-width='false'])) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;

  button {
    width: 100%;
  }
}

:host([width*='px']) {
  flex-shrink: 0;
}

:host([height*='px']) {
  flex-shrink: 0;
}

:host([width]) {
  button {
    width: 100%;
  }
}

:host([height]) {
  button {
    height: 100%;
  }
}

:host([shape][size][full-height]:not([full-height='false'])) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;

  button {
    height: 100%;
  }
}

:host([shape][size][width='100%']) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;

  button {
    width: 100%;
  }
}

:host([shape][size][height='100%']) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;

  button {
    height: 100%;
  }
}

:host([ellipsis]:not([ellipsis='false'])) {
  max-width: 100%;
  button {
    flex-grow: 0;
    max-width: 100%;
    ::slotted(*:not([slot])) {
      width: 100%;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

:host {
  button {
    appearance: none;
    box-sizing: border-box;
    border: none;
    background: none;
    font-family: var(--typography-body-family);
    flex-direction: row;
    cursor: var(--cursor-pointer);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: var(--transition);
    align-items: center;

    &[disabled] {
      cursor: var(--cursor-not-allowed);
    }
  }
}

:host([content-alignment='Left']) {
  button {
    justify-content: flex-start;
  }
}

:host([content-alignment='Center']) {
  button {
    justify-content: center;
  }
}

:host([content-alignment='Right']) {
  button {
    justify-content: flex-end;
  }
}

:host([align-content-to-margins]:not([align-content-to-margins='false'])) {
  button {
    width: 100%;
    justify-content: flex-start;

    ::slotted(*[slot='right-icon']) {
      margin: 0 0 0 auto;
    }
  }
}

:host {
  button.br-button-has-progress {
    ::slotted(*[slot='left-icon']) {
      opacity: 0;
    }

    ::slotted(*[slot='right-icon']) {
      opacity: 0;
    }

    ::slotted(*:not([slot])) {
      opacity: 0;
    }
  }
}

:host {
  ::slotted(*[slot='progress']) {
    position: absolute;
  }
}

:host([width]) {
  max-width: unset;
  button {
    min-width: unset;
  }
}

:host([height]) {
  max-height: unset;
  button {
    min-height: unset;
  }
}

:host {
  button {
    min-height: var(--button-height);
    padding: var(--button-padding);
    border-top-left-radius: var(
      --single-select-border-top-left-radius,
      var(--button-border-top-left-radius)
    );
    border-bottom-left-radius: var(
      --single-select-border-bottom-left-radius,
      var(--button-border-bottom-left-radius)
    );
    border-top-right-radius: var(
      --single-select-border-top-right-radius,
      var(--button-border-top-right-radius)
    );
    border-bottom-right-radius: var(
      --single-select-border-bottom-right-radius,
      var(--button-border-bottom-right-radius)
    );
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    line-height: var(--button-line-height);
  }

  button:not(.br-button-has-label):not(.br-button-has-right-icon) {
    width: var(--button-height);
    padding: 0px 0px 0px 0px;

    ::slotted(*[slot='left-icon']) {
      margin-right: 0px;
    }
  }

  ::slotted(*[slot='left-icon']) {
    margin-right: var(--button-icon-margin);
  }

  ::slotted(*[slot='right-icon']) {
    margin-left: var(--button-icon-margin);
  }

  ::slotted(*:not([size])) {
    --svg-icon-size: var(--button-icon-size);
  }
}

:host([square]:not([square='false'])) {
  button {
    width: var(--button-height);
    height: var(--button-height);
    padding: 0px 0px 0px 0px;
  }
}

:host([shape='Rectangular'][size='Xsmall']) {
  --button-height: var(--actionable-element-height-x-small);
  --button-padding: var(--actionable-element-padding-x-small);
  --button-border-top-left-radius: var(--actionable-element-border-radius-x-small);
  --button-border-bottom-left-radius: var(--actionable-element-border-radius-x-small);
  --button-border-top-right-radius: var(--actionable-element-border-radius-x-small);
  --button-border-bottom-right-radius: var(--actionable-element-border-radius-x-small);
  --button-font-size: var(--actionable-element-font-size-x-small);
  --button-font-weight: var(--actionable-element-font-weight);
  --button-line-height: var(--actionable-element-line-height);
  --button-icon-margin: var(--actionable-element-icon-margin-x-small);
  --button-icon-size: var(--actionable-element-icon-size-x-small);
}

:host([shape='Rectangular'][size='Small']) {
  --button-height: var(--actionable-element-height-small);
  --button-padding: var(--actionable-element-padding-small);
  --button-border-top-left-radius: var(--actionable-element-border-radius-small);
  --button-border-bottom-left-radius: var(--actionable-element-border-radius-small);
  --button-border-top-right-radius: var(--actionable-element-border-radius-small);
  --button-border-bottom-right-radius: var(--actionable-element-border-radius-small);
  --button-font-size: var(--actionable-element-font-size-small);
  --button-font-weight: var(--actionable-element-font-weight);
  --button-line-height: var(--actionable-element-line-height);
  --button-icon-margin: var(--actionable-element-icon-margin-small);
  --button-icon-size: var(--actionable-element-icon-size-small);
}

:host([shape='Rectangular'][size='Normal']) {
  --button-height: var(--actionable-element-height-normal);
  --button-padding: var(--actionable-element-padding-normal);
  --button-border-top-left-radius: var(--actionable-element-border-radius-normal);
  --button-border-bottom-left-radius: var(--actionable-element-border-radius-normal);
  --button-border-top-right-radius: var(--actionable-element-border-radius-normal);
  --button-border-bottom-right-radius: var(--actionable-element-border-radius-normal);
  --button-font-size: var(--actionable-element-font-size-normal);
  --button-font-weight: var(--actionable-element-font-weight);
  --button-line-height: var(--actionable-element-line-height);
  --button-icon-margin: var(--actionable-element-icon-margin-normal);
  --button-icon-size: var(--actionable-element-icon-size-normal);
}

:host([shape='Rectangular'][size='Large']) {
  --button-height: var(--actionable-element-height-large);
  --button-padding: var(--actionable-element-padding-large);
  --button-border-top-left-radius: var(--actionable-element-border-radius-large);
  --button-border-bottom-left-radius: var(--actionable-element-border-radius-large);
  --button-border-top-right-radius: var(--actionable-element-border-radius-large);
  --button-border-bottom-right-radius: var(--actionable-element-border-radius-large);
  --button-font-size: var(--actionable-element-font-size-large);
  --button-font-weight: var(--actionable-element-font-weight);
  --button-line-height: var(--actionable-element-line-height);
  --button-icon-margin: var(--actionable-element-icon-margin-large);
  --button-icon-size: var(--actionable-element-icon-size-large);
}

:host {
  button {
    outline-offset: var(--button-outline-offset);
    outline: var(--button-outline);
    --color-default-text: color-mix(
      in srgb,
      var(--button-color) var(--button-color-opacity),
      transparent
    );
    color: color-mix(in srgb, var(--button-color) var(--button-color-opacity), transparent);
    background-color: color-mix(
      in srgb,
      var(--button-background-color) var(--button-background-color-opacity),
      transparent
    );
    background-image: var(--button-background-image);
    opacity: var(--button-opacity);
    box-shadow: var(--button-box-shadow);
  }
}

:host {
  --button-box-shadow-y-offset-unit: calc(
    var(--template-light-position-occlusion-y) * var(--template-light-position-y-direction)
  );

  --button-box-shadow-solid-base-light: 0px var(--button-box-shadow-y-offset-unit)
    calc(var(--template-shadow-blur) * 2) 0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(15% * var(--template-light-strength)),
      transparent
    );
  --button-box-shadow-solid-base-negated-light: 0px var(--button-box-shadow-y-offset-unit)
    calc(var(--template-shadow-blur) * 2) 0px
    color-mix(in srgb, var(--color-neutral-900) 0%, transparent);
  --button-box-shadow-solid-rest-light: 0px calc(2 * var(--button-box-shadow-y-offset-unit))
    calc(var(--template-shadow-blur) * 4) 0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(15% * var(--template-light-strength)),
      transparent
    );
  --button-box-shadow-solid-rest-neutral-light: 0px calc(2 * var(--button-box-shadow-y-offset-unit))
    calc(var(--template-shadow-blur) * 4) 0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(5% * var(--template-light-strength)),
      transparent
    );
  --button-box-shadow-solid-rest-negated-light: 0px calc(2 * var(--button-box-shadow-y-offset-unit))
    calc(var(--template-shadow-blur) * 4) 0px
    color-mix(in srgb, var(--color-neutral-900) 0%, transparent);
  --button-box-shadow-solid-hover-light: 0px var(--button-box-shadow-y-offset-unit)
    calc(var(--template-shadow-blur) * 4) 0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(15% * var(--template-light-strength)),
      transparent
    );
  --button-box-shadow-solid-inset-light: inset 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(15% * max(var(--template-light-strength), 1)),
      transparent
    );
  --button-box-shadow-solid-inset-negated-light: inset 0px 0px 0px 1px
    color-mix(in srgb, var(--color-neutral-900) 0%, transparent);

  --button-box-shadow-solid-base-dark: 0px var(--button-box-shadow-y-offset-unit)
    calc(var(--template-shadow-blur) * 2) 0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(50% * var(--template-light-strength)),
      transparent
    );
  --button-box-shadow-solid-base-negated-dark: 0px var(--button-box-shadow-y-offset-unit)
    calc(var(--template-shadow-blur) * 2) 0px
    color-mix(in srgb, var(--color-neutral-900) 0%, transparent);
  --button-box-shadow-solid-rest-dark: 0px calc(2 * var(--button-box-shadow-y-offset-unit))
    calc(var(--template-shadow-blur) * 4) 0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(50% * var(--template-light-strength)),
      transparent
    );
  --button-box-shadow-solid-hover-negated-dark: 0px var(--button-box-shadow-y-offset-unit) 0px 0px
    color-mix(in srgb, var(--color-neutral-900) 0%, transparent);
  --button-box-shadow-solid-hover-dark: 0px var(--button-box-shadow-y-offset-unit) 0px 0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(45% * var(--template-light-strength)),
      transparent
    );
  --button-box-shadow-solid-outer-dark: 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(75% * max(var(--template-light-strength), 1)),
      transparent
    );
  --button-box-shadow-solid-outer-negated-dark: 0px 0px 0px 1px
    color-mix(in srgb, var(--color-neutral-900) 0%, transparent);
}

:host([fill-style='Solid'][color-type][theme='Light']) {
  button {
    --button-outline-offset: 0px;
    --button-color: var(--color-white);
    --button-color-opacity: 100%;
    --button-background-color-opacity: 100%;
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(in srgb, var(--color-white) calc(10% * var(--template-gloss-strength)), transparent)
        100%
    );
    --button-opacity: 1;
    --button-box-shadow: var(--button-box-shadow-solid-base-light),
      var(--button-box-shadow-solid-rest-light), var(--button-box-shadow-solid-inset-light);
    --icon-color-1: var(--color-white);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-white);
    --icon-color-2-opacity: 75%;
  }

  button:focus-visible {
    --button-outline-offset: -2px;
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(in srgb, var(--color-white) calc(10% * var(--template-gloss-strength)), transparent)
        100%
    );
  }

  button:hover {
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(in srgb, var(--color-white) calc(15% * var(--template-gloss-strength)), transparent)
        100%
    );
    --button-box-shadow: var(--button-box-shadow-solid-base-light),
      var(--button-box-shadow-solid-hover-light), var(--button-box-shadow-solid-inset-light);
  }

  button[data-hover]:not([data-hover='false']) {
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(in srgb, var(--color-white) calc(15% * var(--template-gloss-strength)), transparent)
        100%
    );
    --button-box-shadow: var(--button-box-shadow-solid-base-light),
      var(--button-box-shadow-solid-hover-light), var(--button-box-shadow-solid-inset-light);
  }

  button:active {
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(in srgb, var(--color-white) 0%, transparent) 100%
    );
    --button-box-shadow: var(--button-box-shadow-solid-base-negated-light),
      var(--button-box-shadow-solid-rest-negated-light), var(--button-box-shadow-solid-inset-light);
  }

  button:active,
  button[data-active]:not([data-active='false']) {
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(in srgb, var(--color-white) 0%, transparent) 100%
    );
    --button-box-shadow: var(--button-box-shadow-solid-base-negated-light),
      var(--button-box-shadow-solid-rest-negated-light), var(--button-box-shadow-solid-inset-light);
  }

  button[disabled] {
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(in srgb, var(--color-white) 0%, transparent) 100%
    );
    --button-opacity: 0.35;
    --button-box-shadow: var(--button-box-shadow-solid-base-negated-light),
      var(--button-box-shadow-solid-rest-negated-light),
      var(--button-box-shadow-solid-inset-negated-light);
  }
}

:host([fill-style='Solid'][color-type='Primary'][theme='Light']) {
  button {
    --button-color: var(--template-text-color-over-solid-primary);
    --icon-color-1: var(--template-text-color-over-solid-primary);
    --icon-color-2: var(--template-text-color-over-solid-primary);
    --button-outline: 0px solid color-mix(in srgb, var(--color-primary-500) 0%, transparent);
    --button-background-color: var(--color-primary-500);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-primary-700) 100%, transparent);
  }
}

:host([fill-style='Solid'][color-type='Constructive'][theme='Light']) {
  button {
    --button-color: var(--template-text-color-over-solid-constructive);
    --icon-color-1: var(--template-text-color-over-solid-constructive);
    --icon-color-2: var(--template-text-color-over-solid-constructive);
    --button-outline: 0px solid color-mix(in srgb, var(--color-constructive-500) 0%, transparent);
    --button-background-color: var(--color-constructive-500);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-constructive-700) 100%, transparent);
  }
}

:host([fill-style='Solid'][color-type='Destructive'][theme='Light']) {
  button {
    --button-color: var(--template-text-color-over-solid-destructive);
    --icon-color-1: var(--template-text-color-over-solid-destructive);
    --icon-color-2: var(--template-text-color-over-solid-destructive);
    --button-outline: 0px solid color-mix(in srgb, var(--color-destructive-500) 0%, transparent);
    --button-background-color: var(--color-destructive-500);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-destructive-700) 100%, transparent);
  }
}

:host([fill-style='Solid'][color-type='Warning'][theme='Light']) {
  button {
    --button-color: var(--template-text-color-over-solid-warning);
    --icon-color-1: var(--template-text-color-over-solid-warning);
    --icon-color-2: var(--template-text-color-over-solid-warning);
    --button-outline: 0px solid color-mix(in srgb, var(--color-warning-500) 0%, transparent);
    --button-background-color: var(--color-warning-500);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-warning-700) 100%, transparent);
  }
}

:host([fill-style='Solid'][color-type='Neutral'][theme='Light']) {
  button {
    --button-color: var(--template-text-color-over-solid-neutral);
    --icon-color-1: var(--template-text-color-over-solid-neutral);
    --icon-color-2: var(--template-text-color-over-solid-neutral);
    --button-color-opacity: 100%;
    --button-outline: 0px solid color-mix(in srgb, var(--color-neutral-500) 0%, transparent);
    --button-background-color: var(--color-neutral-100);
    --button-box-shadow: var(--button-box-shadow-solid-base-light),
      var(--button-box-shadow-solid-rest-neutral-light), var(--button-box-shadow-solid-inset-light);
    --icon-color-1-opacity: 100%;
    --icon-color-2-opacity: 75%;
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-neutral-400) 100%, transparent);
  }
}

:host([fill-style='Solid'][color-type][theme='Dark']) {
  button {
    --button-outline-offset: 0px;
    --button-color: var(--color-white);
    --button-color-opacity: 100%;
    --button-background-color-opacity: 100%;
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(in srgb, var(--color-white) calc(5% * var(--template-gloss-strength)), transparent)
        100%
    );
    --button-opacity: 1;
    --button-box-shadow: var(--button-box-shadow-solid-base-dark),
      var(--button-box-shadow-solid-rest-dark), var(--button-box-shadow-solid-hover-negated-dark),
      var(--button-box-shadow-solid-outer-dark);
    --icon-color-1: var(--color-white);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-white);
    --icon-color-2-opacity: 75%;
  }

  button:focus-visible {
    --button-outline-offset: -2px;
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(in srgb, var(--color-white) calc(5% * var(--template-gloss-strength)), transparent)
        100%
    );
  }

  button:hover {
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(
          in srgb,
          var(--color-white) calc(7.5% * var(--template-gloss-strength)),
          transparent
        )
        100%
    );
    --button-box-shadow: var(--button-box-shadow-solid-base-dark),
      var(--button-box-shadow-solid-rest-dark), var(--button-box-shadow-solid-hover-dark),
      var(--button-box-shadow-solid-outer-dark);
  }

  button[data-hover]:not([data-hover='false']) {
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(
          in srgb,
          var(--color-white) calc(7.5% * var(--template-gloss-strength)),
          transparent
        )
        100%
    );
    --button-box-shadow: var(--button-box-shadow-solid-base-dark),
      var(--button-box-shadow-solid-rest-dark), var(--button-box-shadow-solid-hover-dark),
      var(--button-box-shadow-solid-outer-dark);
  }

  button:active {
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(in srgb, var(--color-white) 0%, transparent) 100%
    );
    --button-box-shadow: var(--button-box-shadow-solid-base-negated-light),
      var(--button-box-shadow-solid-rest-negated-light),
      var(--button-box-shadow-solid-hover-negated-dark), var(--button-box-shadow-solid-outer-dark);
  }

  button[data-active]:not([data-active='false']) {
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(in srgb, var(--color-white) 0%, transparent) 100%
    );
    --button-box-shadow: var(--button-box-shadow-solid-base-negated-light),
      var(--button-box-shadow-solid-rest-negated-light),
      var(--button-box-shadow-solid-hover-negated-dark), var(--button-box-shadow-solid-outer-dark);
  }

  button[disabled] {
    --button-background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-white) 0%, transparent) 0%,
      color-mix(in srgb, var(--color-white) 0%, transparent) 100%
    );
    --button-opacity: 0.35;
    --button-box-shadow: var(--button-box-shadow-solid-base-negated-light),
      var(--button-box-shadow-solid-rest-negated-light),
      var(--button-box-shadow-solid-hover-negated-dark),
      var(--button-box-shadow-solid-outer-negated-dark);
  }
}

:host([fill-style='Solid'][color-type='Primary'][theme='Dark']) {
  button {
    --button-color: var(--template-text-color-over-solid-primary);
    --icon-color-1: var(--template-text-color-over-solid-primary);
    --icon-color-2: var(--template-text-color-over-solid-primary);
    --button-outline: 0px solid color-mix(in srgb, var(--color-primary-500) 0%, transparent);
    --button-background-color: var(--color-primary-500);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-primary-300) 100%, transparent);
  }
}

:host([fill-style='Solid'][color-type='Constructive'][theme='Dark']) {
  button {
    --button-color: var(--template-text-color-over-solid-constructive);
    --icon-color-1: var(--template-text-color-over-solid-constructive);
    --icon-color-2: var(--template-text-color-over-solid-constructive);
    --button-outline: 0px solid color-mix(in srgb, var(--color-constructive-500) 0%, transparent);
    --button-background-color: var(--color-constructive-500);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-constructive-300) 100%, transparent);
  }
}

:host([fill-style='Solid'][color-type='Destructive'][theme='Dark']) {
  button {
    --button-color: var(--template-text-color-over-solid-destructive);
    --icon-color-1: var(--template-text-color-over-solid-destructive);
    --icon-color-2: var(--template-text-color-over-solid-destructive);
    --button-outline: 0px solid color-mix(in srgb, var(--color-destructive-500) 0%, transparent);
    --button-background-color: var(--color-destructive-500);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-destructive-300) 100%, transparent);
  }
}

:host([fill-style='Solid'][color-type='Warning'][theme='Dark']) {
  button {
    --button-color: var(--template-text-color-over-solid-warning);
    --icon-color-1: var(--template-text-color-over-solid-warning);
    --icon-color-2: var(--template-text-color-over-solid-warning);
    --button-outline: 0px solid color-mix(in srgb, var(--color-warning-500) 0%, transparent);
    --button-background-color: var(--color-warning-500);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-warning-300) 100%, transparent);
  }
}

:host([fill-style='Solid'][color-type='Neutral'][theme='Dark']) {
  button {
    --button-color: var(--template-text-color-over-solid-neutral);
    --icon-color-1: var(--template-text-color-over-solid-neutral);
    --icon-color-2: var(--template-text-color-over-solid-neutral);
    --button-outline: 0px solid color-mix(in srgb, var(--color-neutral-500) 0%, transparent);
    --button-background-color: var(--color-neutral-700);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-neutral-400) 100%, transparent);
  }
}

:host([fill-style='Ghost'][color-type][theme='Light']) {
  button {
    --button-outline-offset: 0px;
    --button-color-opacity: 100%;
    --button-opacity: 1;
    --button-background-color-opacity: 0%;
    --icon-color-1-opacity: 100%;
    --icon-color-2-opacity: 75%;
  }

  button:focus-visible {
    --button-outline-offset: -2px;
  }

  button:hover {
    --button-background-color-opacity: 15%;
  }

  button[data-hover]:not([data-hover='false']) {
    --button-background-color-opacity: 15%;
  }

  button:active {
    --button-background-color-opacity: 25%;
  }

  button[data-active]:not([data-active='false']) {
    --button-background-color-opacity: 25%;
  }

  button[disabled] {
    --button-background-color-opacity: 0%;
    --button-opacity: 0.5;
  }
}

:host([fill-style='Ghost'][color-type='Primary'][theme='Light']) {
  button {
    --button-outline: 0px solid
      color-mix(in srgb, var(--template-text-color-over-ghost-primary) 0%, transparent);
    --button-background-color: var(--color-primary-500);
    --button-color: var(--template-text-color-over-ghost-primary);
    --icon-color-1: var(--template-text-color-over-ghost-primary);
    --icon-color-2: var(--template-text-color-over-ghost-primary);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-primary-500) 100%, transparent);
  }
}

:host([fill-style='Ghost'][color-type='Constructive'][theme='Light']) {
  button {
    --button-outline: 0px solid color-mix(in srgb, var(--color-constructive-500) 0%, transparent);
    --button-background-color: var(--color-constructive-500);
    --button-color: var(--template-text-color-over-ghost-constructive);
    --icon-color-1: var(--template-text-color-over-ghost-constructive);
    --icon-color-2: var(--template-text-color-over-ghost-constructive);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-constructive-500) 100%, transparent);
  }
}

:host([fill-style='Ghost'][color-type='Destructive'][theme='Light']) {
  button {
    --button-outline: 0px solid color-mix(in srgb, var(--color-destructive-500) 0%, transparent);
    --button-background-color: var(--color-destructive-500);
    --button-color: var(--template-text-color-over-ghost-destructive);
    --icon-color-1: var(--template-text-color-over-ghost-destructive);
    --icon-color-2: var(--template-text-color-over-ghost-destructive);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-destructive-500) 100%, transparent);
  }
}

:host([fill-style='Ghost'][color-type='Warning'][theme='Light']) {
  button {
    --button-outline: 0px solid color-mix(in srgb, var(--color-warning-500) 0%, transparent);
    --button-background-color: var(--color-warning-500);
    --button-color: var(--template-text-color-over-ghost-warning);
    --icon-color-1: var(--template-text-color-over-ghost-warning);
    --icon-color-2: var(--template-text-color-over-ghost-warning);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-warning-500) 100%, transparent);
  }
}

:host([fill-style='Ghost'][color-type='Neutral'][theme='Light']) {
  button {
    --button-outline: 0px solid color-mix(in srgb, var(--color-neutral-500) 0%, transparent);
    --button-background-color: var(--color-neutral-500);
    --button-color: var(--template-text-color-over-ghost-neutral);
    --icon-color-1: var(--template-text-color-over-ghost-neutral);
    --icon-color-2: var(--template-text-color-over-ghost-neutral);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-neutral-500) 100%, transparent);
  }
}

:host([fill-style='Ghost'][color-type][theme='Dark']) {
  button {
    --button-outline-offset: 0px;
    --button-color-opacity: 100%;
    --button-opacity: 1;
    --button-background-color-opacity: 0%;
    --icon-color-1-opacity: 100%;
    --icon-color-2-opacity: 75%;
  }

  button:focus-visible {
    --button-outline-offset: -2px;
  }

  button:hover {
    --button-background-color-opacity: 15%;
  }

  button[data-hover]:not([data-hover='false']) {
    --button-background-color-opacity: 15%;
  }

  button:active {
    --button-background-color-opacity: 25%;
  }

  button[data-active]:not([data-active='false']) {
    --button-background-color-opacity: 25%;
  }

  button[disabled] {
    --button-background-color-opacity: 0%;
    --button-opacity: 0.5;
  }
}

:host([fill-style='Ghost'][color-type='Primary'][theme='Dark']) {
  button {
    --button-outline: 0px solid color-mix(in srgb, var(--color-primary-400) 0%, transparent);
    --button-background-color: var(--color-primary-400);
    --button-color: var(--template-text-color-over-ghost-primary);
    --icon-color-1: var(--template-text-color-over-ghost-primary);
    --icon-color-2: var(--template-text-color-over-ghost-primary);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-primary-300) 100%, transparent);
  }
}

:host([fill-style='Ghost'][color-type='Constructive'][theme='Dark']) {
  button {
    --button-outline: 0px solid color-mix(in srgb, var(--color-constructive-400) 0%, transparent);
    --button-background-color: var(--color-constructive-400);
    --button-color: var(--template-text-color-over-ghost-constructive);
    --icon-color-1: var(--template-text-color-over-ghost-constructive);
    --icon-color-2: var(--template-text-color-over-ghost-constructive);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-constructive-400) 100%, transparent);
  }
}

:host([fill-style='Ghost'][color-type='Destructive'][theme='Dark']) {
  button {
    --button-outline: 0px solid color-mix(in srgb, var(--color-destructive-400) 0%, transparent);
    --button-background-color: var(--color-destructive-400);
    --button-color: var(--template-text-color-over-ghost-destructive);
    --icon-color-1: var(--template-text-color-over-ghost-destructive);
    --icon-color-2: var(--template-text-color-over-ghost-destructive);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-destructive-300) 100%, transparent);
  }
}

:host([fill-style='Ghost'][color-type='Warning'][theme='Dark']) {
  button {
    --button-outline: 0px solid color-mix(in srgb, var(--color-warning-400) 0%, transparent);
    --button-background-color: var(--color-warning-400);
    --button-color: var(--template-text-color-over-ghost-warning);
    --icon-color-1: var(--template-text-color-over-ghost-warning);
    --icon-color-2: var(--template-text-color-over-ghost-warning);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-warning-300) 100%, transparent);
  }
}

:host([fill-style='Ghost'][color-type='Neutral'][theme='Dark']) {
  button {
    --button-outline: 0px solid color-mix(in srgb, var(--color-neutral-400) 0%, transparent);
    --button-background-color: var(--color-neutral-400);
    --button-color: var(--template-text-color-over-ghost-neutral);
    --icon-color-1: var(--template-text-color-over-ghost-neutral);
    --icon-color-2: var(--template-text-color-over-ghost-neutral);
  }

  button:focus-visible {
    --button-outline: 2px solid color-mix(in srgb, var(--color-neutral-300) 100%, transparent);
  }
}
