@import url('../../../../global/css/reset.css');

:host {
  --transition: var(--transition-default);
  display: inline-block;
  position: relative;

  button {
    width: 100%;
    height: 100%;
    transition: var(--transition);
  }
}

:host([size][full-width]:not([full-width='false'])) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;
}

:host([size][full-height]:not([full-height='false'])) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;
}

:host([size][width='100%']) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;
}

:host([size][height='100%']) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;
}

:host([width*='px']) {
  flex-shrink: 0;
}

:host([height*='px']) {
  flex-shrink: 0;
}

:host([ellipsis]:not([ellipsis='false'])) {
  max-width: 100%;
  button {
    flex-grow: 0;
    max-width: 100%;
    ::slotted(*:not([slot])) {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

:host {
  button {
    appearance: none;
    box-sizing: border-box;
    border: none;
    background: none;
    font-family: var(--typography-body-family);
    flex-direction: row;
    cursor: var(--cursor-pointer);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: var(--transition);
    align-items: center;

    &[disabled] {
      cursor: var(--cursor-not-allowed);
    }
  }
}

:host([content-alignment='Left']) {
  button {
    justify-content: flex-start;
  }
}

:host([content-alignment='Center']) {
  button {
    justify-content: space-around;
  }
}

:host([content-alignment='Right']) {
  button {
    justify-content: flex-end;
  }
}

:host([align-content-to-margins]:not([align-content-to-margins='false'])) {
  button {
    width: 100%;
    justify-content: flex-start;

    ::slotted(*[slot='right-icon']) {
      margin: 0 0 0 auto;
    }
  }
}

:host {
  button.br-tab-item-has-progress {
    ::slotted(*[slot='left-icon']) {
      opacity: 0;
    }

    ::slotted(*[slot='right-icon']) {
      opacity: 0;
    }

    ::slotted(*:not([slot])) {
      opacity: 0;
    }
  }
}

:host {
  ::slotted(*[slot='progress']) {
    position: absolute;
  }
}

:host([width]) {
  button {
    min-width: unset;
  }
}

:host([height]) {
  button {
    min-height: unset;
  }
}

:host {
  button {
    min-height: var(--tab-item-height);
    padding: var(--tab-item-padding);
    border-top-left-radius: var(--tab-item-border-top-left-radius);
    border-bottom-left-radius: var(--tab-item-border-bottom-left-radius);
    border-top-right-radius: var(--tab-item-border-top-right-radius);
    border-bottom-right-radius: var(--tab-item-border-bottom-right-radius);
    font-size: var(--tab-item-font-size);
    font-weight: var(--tab-item-font-weight);
    line-height: var(--tab-item-line-height);
  }

  button:not(.br-tab-item-has-label):not(.br-tab-item-has-right-icon) {
    width: var(--tab-item-height);
    padding: 0px 0px 0px 0px;

    ::slotted(*[slot='left-icon']) {
      margin-right: 0px;
    }
  }

  ::slotted(*[slot='left-icon']) {
    margin-right: var(--tab-item-icon-margin);
  }

  ::slotted(*[slot='right-icon']) {
    margin-left: var(--tab-item-icon-margin);
  }

  ::slotted(*:not([size])) {
    --svg-icon-size: var(--tab-item-icon-size);
  }
}

:host([square]:not([square='false'])) {
  button {
    width: var(--tab-item-height);
    height: var(--tab-item-height);
    padding: 0px 0px 0px 0px;
  }
}

:host([size='Xsmall']) {
  --tab-item-height: var(--actionable-element-height-x-small);
  --tab-item-padding: var(--actionable-element-padding-x-small);
  --tab-item-border-top-left-radius: var(--actionable-element-border-radius-x-small);
  --tab-item-border-bottom-left-radius: var(--actionable-element-border-radius-x-small);
  --tab-item-border-top-right-radius: var(--actionable-element-border-radius-x-small);
  --tab-item-border-bottom-right-radius: var(--actionable-element-border-radius-x-small);
  --tab-item-font-size: var(--actionable-element-font-size-x-small);
  --tab-item-font-weight: var(--actionable-element-font-weight);
  --tab-item-line-height: var(--actionable-element-line-height);
  --tab-item-icon-margin: var(--actionable-element-icon-margin-x-small);
  --tab-item-icon-size: var(--actionable-element-icon-size-x-small);
}

:host([size='Small']) {
  --tab-item-height: var(--actionable-element-height-small);
  --tab-item-padding: var(--actionable-element-padding-small);
  --tab-item-border-top-left-radius: var(--actionable-element-border-radius-small);
  --tab-item-border-bottom-left-radius: var(--actionable-element-border-radius-small);
  --tab-item-border-top-right-radius: var(--actionable-element-border-radius-small);
  --tab-item-border-bottom-right-radius: var(--actionable-element-border-radius-small);
  --tab-item-font-size: var(--actionable-element-font-size-small);
  --tab-item-font-weight: var(--actionable-element-font-weight);
  --tab-item-line-height: var(--actionable-element-line-height);
  --tab-item-icon-margin: var(--actionable-element-icon-margin-small);
  --tab-item-icon-size: var(--actionable-element-icon-size-small);
}

:host([size='Normal']) {
  --tab-item-height: var(--actionable-element-height-normal);
  --tab-item-padding: var(--actionable-element-padding-normal);
  --tab-item-border-top-left-radius: var(--actionable-element-border-radius-normal);
  --tab-item-border-bottom-left-radius: var(--actionable-element-border-radius-normal);
  --tab-item-border-top-right-radius: var(--actionable-element-border-radius-normal);
  --tab-item-border-bottom-right-radius: var(--actionable-element-border-radius-normal);
  --tab-item-font-size: var(--actionable-element-font-size-normal);
  --tab-item-font-weight: var(--actionable-element-font-weight);
  --tab-item-line-height: var(--actionable-element-line-height);
  --tab-item-icon-margin: var(--actionable-element-icon-margin-normal);
  --tab-item-icon-size: var(--actionable-element-icon-size-normal);
}

:host([size='Large']) {
  --tab-item-height: var(--actionable-element-height-large);
  --tab-item-padding: var(--actionable-element-padding-large);
  --tab-item-border-top-left-radius: var(--actionable-element-border-radius-large);
  --tab-item-border-bottom-left-radius: var(--actionable-element-border-radius-large);
  --tab-item-border-top-right-radius: var(--actionable-element-border-radius-large);
  --tab-item-border-bottom-right-radius: var(--actionable-element-border-radius-large);
  --tab-item-font-size: var(--actionable-element-font-size-large);
  --tab-item-font-weight: var(--actionable-element-font-weight);
  --tab-item-line-height: var(--actionable-element-line-height);
  --tab-item-icon-margin: var(--actionable-element-icon-margin-large);
  --tab-item-icon-size: var(--actionable-element-icon-size-large);
}

:host {
  button {
    outline-offset: var(--tab-item-outline-offset);
    outline: var(--tab-item-outline);
    --color-default-text: color-mix(
      in srgb,
      var(--tab-item-color) var(--tab-item-color-opacity),
      transparent
    );
    color: color-mix(in srgb, var(--tab-item-color) var(--tab-item-color-opacity), transparent);
    background-color: color-mix(
      in srgb,
      var(--tab-item-background-color) var(--tab-item-background-color-opacity),
      transparent
    );
    background-image: var(--tab-item-background-image);
    opacity: var(--tab-item-opacity);
    box-shadow: var(--tab-item-box-shadow);
  }
}

:host([direction='horizontal'][show-line]:not([show-line='false'])) {
  button {
    --tab-item-border-bottom-left-radius: 0;
    --tab-item-border-bottom-right-radius: 0;
  }
}

:host([direction='vertical'][show-line]:not([show-line='false'])) {
  button {
    --tab-item-border-top-right-radius: 0;
    --tab-item-border-bottom-right-radius: 0;
  }
}

:host([theme='Light'][size]) {
  --tab-item-outline: 0px solid color-mix(in srgb, var(--color-neutral-500) 0%, transparent);
  --tab-item-color: var(--color-neutral-500);
  --tab-item-background-color: var(--color-neutral-500);
  --icon-color-1: var(--color-neutral-500);
  --icon-color-2: var(--color-neutral-500);

  button {
    --tab-item-outline-offset: 0px;
    --tab-item-color-opacity: 100%;
    --tab-item-opacity: 1;
    --tab-item-background-color-opacity: 0%;
    --icon-color-1-opacity: 100%;
    --icon-color-2-opacity: 75%;
  }

  button:focus-visible {
    --tab-item-outline-offset: -2px;
  }

  button:hover {
    --tab-item-background-color: var(--color-primary-500);
    --tab-item-color: var(--color-primary-500);
    --icon-color-1: var(--color-primary-500);
    --icon-color-2: var(--color-primary-500);
    --tab-item-background-color-opacity: 15%;
  }

  button[data-hover]:not([data-hover='false']) {
    --tab-item-background-color: var(--color-primary-500);
    --tab-item-color: var(--color-primary-500);
    --icon-color-1: var(--color-primary-500);
    --icon-color-2: var(--color-primary-500);
    --tab-item-background-color-opacity: 15%;
  }

  button:active {
    --tab-item-background-color-opacity: 25%;
  }

  button:focus-visible {
    --tab-item-outline: 2px solid color-mix(in srgb, var(--color-neutral-500) 100%, transparent);
  }

  button[data-active]:not([data-active='false']):focus-visible {
    --tab-item-outline: 2px solid color-mix(in srgb, var(--color-primary-500) 100%, transparent);
  }

  button[data-active]:not([data-active='false']) {
    --tab-item-background-color: var(--color-primary-500);
    --icon-color-1: var(--color-primary-500);
    --icon-color-2: var(--color-primary-500);
    --tab-item-color: var(--color-primary-500);
    --tab-item-background-color-opacity: 25%;
  }

  button[disabled] {
    --tab-item-background-color-opacity: 0%;
    --tab-item-opacity: 0.5;
  }
}

:host([direction='horizontal'][theme='Light'][show-line]:not([show-line='false'])) {
  button[data-active]:not([data-active='false']) {
    box-shadow: inset 0px calc(var(--size-unit) / 2 * -1) 0px 0px var(--color-primary-500);
    --tab-item-background-color-opacity: 0%;
  }
}

:host([direction='vertical'][theme='Light'][show-line]:not([show-line='false'])) {
  button[data-active]:not([data-active='false']) {
    box-shadow: inset calc(var(--size-unit) / 2 * -1) 0px 0px 0px var(--color-primary-500);
    --tab-item-background-color-opacity: 0%;
  }
}

:host([theme='Dark'][size]) {
  --tab-item-outline: 0px solid color-mix(in srgb, var(--color-neutral-400) 0%, transparent);
  --tab-item-color: var(--color-neutral-300);
  --tab-item-background-color: var(--color-neutral-400);
  --icon-color-1: var(--color-neutral-300);
  --icon-color-2: var(--color-neutral-300);

  button {
    --tab-item-outline-offset: 0px;
    --tab-item-color-opacity: 100%;
    --tab-item-opacity: 1;
    --tab-item-background-color-opacity: 0%;
    --icon-color-1-opacity: 100%;
    --icon-color-2-opacity: 75%;
  }

  button:focus-visible {
    --tab-item-outline-offset: -2px;
  }

  button:hover {
    --tab-item-background-color: var(--color-primary-400);
    --tab-item-color: var(--color-primary-300);
    --icon-color-1: var(--color-primary-300);
    --icon-color-2: var(--color-primary-300);
    --tab-item-background-color-opacity: 15%;
  }

  button[data-hover]:not([data-hover='false']) {
    --tab-item-background-color: var(--color-primary-400);
    --tab-item-color: var(--color-primary-300);
    --icon-color-1: var(--color-primary-300);
    --icon-color-2: var(--color-primary-300);
    --tab-item-background-color-opacity: 15%;
  }

  button:active {
    --tab-item-background-color-opacity: 25%;
  }

  button:focus-visible {
    --tab-item-outline: 2px solid color-mix(in srgb, var(--color-neutral-400) 100%, transparent);
  }

  button[data-active]:not([data-active='false']):focus-visible {
    --tab-item-outline: 2px solid color-mix(in srgb, var(--color-primary-400) 100%, transparent);
  }

  button[data-active]:not([data-active='false']) {
    --tab-item-background-color: var(--color-primary-400);
    --icon-color-1: var(--color-primary-300);
    --icon-color-2: var(--color-primary-300);
    --tab-item-color: var(--color-primary-300);
    --tab-item-background-color-opacity: 25%;
  }

  button[disabled] {
    --tab-item-background-color-opacity: 0%;
    --tab-item-opacity: 0.5;
  }
}

:host([direction='horizontal'][theme='Dark'][show-line]:not([show-line='false'])) {
  button[data-active]:not([data-active='false']) {
    box-shadow: inset 0px calc(var(--size-unit) / 2 * -1) 0px 0px var(--color-primary-300);
    --tab-item-background-color-opacity: 0%;
  }
}

:host([direction='vertical'][theme='Dark'][show-line]:not([show-line='false'])) {
  button[data-active]:not([data-active='false']) {
    box-shadow: inset calc(var(--size-unit) / 2 * -1) 0px 0px 0px var(--color-primary-300);
    --tab-item-background-color-opacity: 0%;
  }
}
