@import url('../../../../global/css/reset.css');

:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;

  .br-timeline-item-connector {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: var(--timeline-item-connector-width);
    align-items: center;
    margin-right: calc(var(--timeline-item-connector-dot-size) / 2);

    .br-timeline-item-connector-dot-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: var(--timeline-item-time-line-height);
      flex-shrink: 0;
    }

    .br-timeline-item-connector-dot {
      background-color: var(--timeline-item-connector-dot-color);
      min-width: var(--timeline-item-connector-dot-size);
      min-height: var(--timeline-item-connector-dot-size);
      padding: calc(var(--timeline-item-connector-dot-size) / 4);
      box-sizing: border-box;
      border-radius: 100%;
      flex-shrink: 0;
      z-index: 2;
      box-shadow: var(--timeline-item-connector-dot-shadow);
    }

    .br-timeline-item-connector-line {
      position: absolute;
      top: 0;
      width: 0px;
      border-left: 1px var(--timeline-item-connector-line-type)
        var(--timeline-item-connector-line-color);
      height: 100%;
      flex-shrink: 1;
      opacity: var(--timeline-item-connector-line-color-opacity);
      z-index: 1;
    }
  }

  .br-timeline-item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 1;
    align-items: flex-start;
    margin-bottom: var(--timeline-item-content-outer-padding);
    gap: var(--timeline-item-content-gap);
  }

  .br-timeline-item-title.br-timeline-item-title-hidden {
    display: none;
  }

  ::slotted(*[slot='time']) {
    font-size: var(--timeline-item-time-font-size);
    line-height: var(--timeline-item-time-line-height);
    color: var(--timeline-item-time-color);
    --color-default-text: var(--timeline-item-time-color);
  }

  ::slotted(*[slot='icon']) {
    z-index: 2;
  }

  ::slotted(*[slot='anchor']) {
    z-index: 2;
  }

  ::slotted(*:not([slot]):not([size])) {
    font-size: var(--timeline-item-font-size);
    line-height: round(var(--timeline-item-font-size) * 1.33);
  }

  ::slotted(*:not([size])) {
    --svg-icon-size: var(--timeline-item-icon-size);
  }

  ::slotted(*[slot='icon']:not([color])) {
    --icon-color-1: var(--timeline-item-icon-color);
    --icon-color-1-opacity: 75%;
    --icon-color-2: var(--timeline-item-icon-color);
    --icon-color-2-opacity: 75%;
  }
}

:host(:only-of-type) {
  .br-timeline-item-connector {
    .br-timeline-item-connector-line {
      --timeline-item-connector-line-color-opacity: 0;
    }
  }
}

:host([connector-line-type='solid']) {
  --timeline-item-connector-line-type: solid;
}

:host([connector-line-type='dashed']) {
  --timeline-item-connector-line-type: dashed;
}

:host([alignment='right']) {
  flex-direction: row-reverse;
  .br-timeline-item-content {
    align-items: flex-end;
  }

  ::slotted(*[slot='title']) {
    text-align: right;
  }

  ::slotted(*[slot='time']) {
    text-align: right;
  }

  ::slotted(*:not([slot]):not([size])) {
    text-align: right;
  }
}

:host([anchor='title'][size]) {
  ::slotted(*[slot='time']) {
    line-height: unset;
  }
}

:host(:first-of-type) {
  .br-timeline-item-connector {
    .br-timeline-item-connector-line {
      height: calc(100% - var(--timeline-item-time-line-height) / 2);
      top: calc(var(--timeline-item-time-line-height) / 2);
    }
  }
}

:host(:last-of-type) {
  .br-timeline-item-connector {
    .br-timeline-item-connector-line {
      height: calc(var(--timeline-item-time-line-height) / 2);
    }
  }
  .br-timeline-item-content {
    padding-bottom: 0px;
  }
}

:host([fill-style='Solid']) {
  .br-timeline-item-connector-dot-wrapper {
    height: calc(
      var(--timeline-item-time-line-height) + var(--timeline-item-content-outer-padding) * 2
    );
  }
  .br-timeline-item-content {
    box-sizing: border-box;
    padding: var(--timeline-item-content-outer-padding);
    margin-bottom: var(--timeline-item-content-outer-padding);
    box-shadow: var(--elevation-shadow-1);
    border-radius: var(--timeline-item-border-radius);
    background-color: var(--default-background-color);
  }
}

:host([anchor='time'][fill-style]) {
  ::slotted(*[slot='time']) {
    margin-bottom: calc(-1 * var(--timeline-item-content-gap));
  }
}

:host([fill-style='Solid']:first-of-type) {
  .br-timeline-item-connector {
    .br-timeline-item-connector-line {
      height: calc(
        100% - var(--timeline-item-time-line-height) / 2 -
          var(--timeline-item-content-outer-padding)
      );
      top: calc(
        var(--timeline-item-time-line-height) / 2 + var(--timeline-item-content-outer-padding)
      );
    }
  }
}

:host([fill-style='Solid']:last-of-type) {
  .br-timeline-item-connector {
    .br-timeline-item-connector-line {
      height: calc(
        var(--timeline-item-time-line-height) / 2 + var(--timeline-item-content-outer-padding)
      );
    }
  }
}

:host([theme='Light']) {
  --timeline-item-icon-color: var(--color-white);
  --timeline-item-connector-dot-color: var(
    --timeline-item-anchor-connector-dot-color,
    var(--color-neutral-400)
  );
  --timeline-item-time-color: var(--color-neutral-400);
  --timeline-item-connector-line-color: var(--color-black);
  --timeline-item-connector-line-color-opacity: 0.15;

  ::slotted(*:not([slot]):not([size])) {
    --color-default-text: var(--color-neutral-600);
    color: var(--color-neutral-600);
  }
}

:host([theme='Light'][active]:not([active='false'])) {
  --timeline-item-connector-dot-color: var(
    --timeline-item-anchor-connector-dot-color,
    var(--color-primary-500)
  );
  --timeline-item-connector-dot-shadow: 0 0 0 var(--size-unit)
    color-mix(in srgb, var(--color-primary-500) 25%, transparent);
}

:host([theme='Light'][fill-style='Solid']) {
  .br-timeline-item-content {
    background-color: var(--color-background);
  }
}

:host([theme='Dark']) {
  --timeline-item-icon-color: var(--color-white);
  --timeline-item-connector-dot-color: var(
    --timeline-item-anchor-connector-dot-color,
    var(--color-neutral-600)
  );
  --timeline-item-time-color: var(--color-neutral-500);
  --timeline-item-connector-line-color: var(--color-white);
  --timeline-item-connector-line-color-opacity: 0.1;

  ::slotted(*:not([slot]):not([size])) {
    --color-default-text: var(--color-neutral-300);
    color: var(--color-neutral-300);
  }
}

:host([theme='Dark'][active]:not([active='false'])) {
  --timeline-item-connector-dot-color: var(
    --timeline-item-anchor-connector-dot-color,
    var(--color-primary-200)
  );
  --timeline-item-connector-dot-shadow: 0 0 0 var(--size-unit)
    color-mix(in srgb, var(--color-primary-200) 15%, transparent);
}

:host([theme='Dark'][fill-style='Solid']) {
  .br-timeline-item-content {
    background-color: var(--color-popover-background);
  }
}

:host([size='Small']) {
  --timeline-item-connector-width: calc(var(--size-unit) * 8);
  --timeline-item-connector-dot-size: calc(var(--size-unit) * 2);
  --timeline-item-content-gap: calc(var(--size-unit));
  --timeline-item-content-padding: calc(var(--size-unit) * 6);
  --timeline-item-font-size: var(--actionable-element-font-size-small);
  --timeline-item-time-font-size: var(--actionable-element-font-size-x-small);
  --timeline-item-time-line-height: var(--actionable-element-line-height);
  --timeline-item-content-outer-padding: calc(var(--size-unit) * 3);
  --timeline-item-border-radius: var(--actionable-element-border-radius-small);
  --timeline-item-icon-size: calc(var(--size-unit) * 3);
}

:host([anchor='title'][size='Small']) {
  --timeline-item-time-line-height: calc(var(--size-unit) * 4);
}

:host([size='Normal']) {
  --timeline-item-connector-width: calc(var(--size-unit) * 8);
  --timeline-item-connector-dot-size: calc(var(--size-unit) * 2);
  --timeline-item-content-gap: calc(var(--size-unit) * 2);
  --timeline-item-content-padding: calc(var(--size-unit) * 8);
  --timeline-item-font-size: var(--actionable-element-font-size-normal);
  --timeline-item-time-font-size: var(--actionable-element-font-size-small);
  --timeline-item-time-line-height: var(--actionable-element-line-height);
  --timeline-item-content-outer-padding: calc(var(--size-unit) * 4);
  --timeline-item-border-radius: var(--actionable-element-border-radius-normal);
  --timeline-item-icon-size: calc(var(--size-unit) * 4);
}

:host([anchor='title'][size='Normal']) {
  --timeline-item-time-line-height: calc(var(--size-unit) * 6);
}

:host([size='Large']) {
  --timeline-item-connector-width: calc(var(--size-unit) * 8);
  --timeline-item-connector-dot-size: calc(var(--size-unit) * 2);
  --timeline-item-content-gap: calc(var(--size-unit) * 3);
  --timeline-item-content-padding: calc(var(--size-unit) * 12);
  --timeline-item-font-size: var(--actionable-element-font-size-large);
  --timeline-item-time-font-size: var(--actionable-element-font-size-normal);
  --timeline-item-time-line-height: var(--actionable-element-line-height);
  --timeline-item-content-outer-padding: calc(var(--size-unit) * 6);
  --timeline-item-border-radius: var(--actionable-element-border-radius-large);
  --timeline-item-icon-size: calc(var(--size-unit) * 6);
}

:host([anchor='title'][size='Large']) {
  --timeline-item-time-line-height: calc(var(--size-unit) * 8);
}
