@import url('../../../global/css/reset.css');

:host {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  .br-select-list-items-wrapper {
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
  }
}

:host {
  .br-select-list-items-wrapper:focus-visible {
    outline: none;
    border: none;
  }
}

:host([full-width]:not([full-width='false'])) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;
}

:host([full-height]:not([full-height='false'])) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;
}

:host([width='100%']) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;
}

:host([height='100%']) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;
}

:host {
  .br-select-list-invalid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  .br-select-list-items-wrapper {
    border-radius: var(--select-list-border-radius);
  }

  .br-select-list-invalid-wrapper {
    border-radius: var(--select-list-border-radius);
    box-shadow: var(--select-list-box-shadow);
  }
}

:host([hide-states]:not([hide-states='false'])) {
  .br-select-list-invalid-wrapper {
    display: none;
  }
}

:host([theme='Light']) {
  .br-select-list-items-wrapper:active {
    .br-select-list-invalid-wrapper {
      box-shadow:
        inset 0px 0px 0px 2px color-mix(in srgb, var(--color-primary-500) 100%, transparent),
        inset 0px 2px calc(var(--template-shadow-blur) * 4) 0px
          color-mix(in srgb, var(--color-neutral-900) 10%, transparent);
    }
  }
}

:host([theme='Dark']) {
  .br-select-list-items-wrapper:active {
    .br-select-list-invalid-wrapper {
      box-shadow:
        inset 0px 0px 0px 2px color-mix(in srgb, var(--color-primary-300) 100%, transparent),
        inset 0px 2px calc(var(--template-shadow-blur) * 4) 0px
          color-mix(in srgb, var(--color-neutral-900) 50%, transparent);
    }
  }
}

:host([theme='Light']) {
  .br-select-list-items-wrapper:focus {
    .br-select-list-invalid-wrapper {
      box-shadow:
        inset 0px 0px 0px 2px color-mix(in srgb, var(--color-primary-500) 100%, transparent),
        inset 0px 2px calc(var(--template-shadow-blur) * 4) 0px
          color-mix(in srgb, var(--color-neutral-900) 10%, transparent);
    }
  }
}

:host([theme='Dark']) {
  .br-select-list-items-wrapper:focus {
    .br-select-list-invalid-wrapper {
      box-shadow:
        inset 0px 0px 0px 2px color-mix(in srgb, var(--color-primary-300) 100%, transparent),
        inset 0px 2px calc(var(--template-shadow-blur) * 4) 0px
          color-mix(in srgb, var(--color-neutral-900) 50%, transparent);
    }
  }
}

:host([theme='Light']) {
  .br-select-list-invalid {
    --select-list-box-shadow: inset 0px 0px 0px 2px
        color-mix(in srgb, var(--color-destructive-500) 100%, transparent),
      inset 0px 2px calc(var(--template-shadow-blur) * 4) 0px
        color-mix(in srgb, var(--color-neutral-900) 10%, transparent);
  }
}

:host([theme='Dark']) {
  .br-select-list-invalid {
    --select-list-box-shadow: inset 0px 0px 0px 2px
        color-mix(in srgb, var(--color-destructive-500) 100%, transparent),
      inset 0px 2px calc(var(--template-shadow-blur) * 4) 0px
        color-mix(in srgb, var(--color-neutral-900) 50%, transparent);
  }
}

:host {
  br-input-error-display {
    --error-display-icon-size: var(--select-list-icon-size);
    --error-display-font-size: var(--select-list-font-size);
    --error-display-icon-margin: var(--select-list-icon-margin);
  }

  br-input-error-display[type='inline'] {
    margin-top: var(--select-list-icon-margin);
  }

  ::slotted(*[slot='empty-filtered-state']) {
    font-size: var(--select-list-font-size);
  }

  slot[name='empty-filtered-state'] {
    span {
      opacity: 0.5;
      font-size: var(--select-list-font-size);
    }
  }
}

:host([size='Xsmall']) {
  --select-list-font-size: var(--actionable-element-font-size-x-small);
  --select-list-icon-margin: var(--actionable-element-icon-margin-x-small);
  --select-list-icon-size: var(--actionable-element-icon-size-x-small);
  --select-list-border-radius: var(--actionable-element-border-radius-x-small);
}

:host([size='Small']) {
  --select-list-font-size: var(--actionable-element-font-size-small);
  --select-list-icon-margin: var(--actionable-element-icon-margin-small);
  --select-list-icon-size: var(--actionable-element-icon-size-small);
  --select-list-border-radius: var(--actionable-element-border-radius-small);
}

:host([size='Normal']) {
  --select-list-font-size: var(--actionable-element-font-size-normal);
  --select-list-icon-margin: var(--actionable-element-icon-margin-normal);
  --select-list-icon-size: var(--actionable-element-icon-size-normal);
  --select-list-border-radius: var(--actionable-element-border-radius-normal);
}

:host([size='Large']) {
  --select-list-font-size: var(--actionable-element-font-size-large);
  --select-list-icon-margin: var(--actionable-element-icon-margin-large);
  --select-list-icon-size: var(--actionable-element-icon-size-large);
  --select-list-border-radius: var(--actionable-element-border-radius-large);
}

:host([width*='px']) {
  flex-shrink: 0;
}

:host([height*='px']) {
  flex-shrink: 0;
}
