@import url('../../../../global/css/reset.css');

:host {
  display: contents;

  th {
    text-align: left;
    position: relative;
    padding: 0;
  }

  th {
    border-bottom: var(--table-border-horizontal-color);
    border-right: var(--table-border-vertical-color);
    background-color: var(--table-checkered-color, var(--color-background));
    color: var(--color-default-text);
  }

  th {
    box-sizing: border-box;
    vertical-align: middle;
    height: var(--table-row-height);
    font-size: var(--table-row-font-size);
    border-top-left-radius: var(--table-header-row-border-top-left-radius);
    border-top-right-radius: var(--table-header-row-border-top-right-radius);
    left: var(--table-header-left);

    br-button {
      margin-left: var(--table-header-sort-margin);
    }
  }

  .br-table-header-cell-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: var(--table-row-padding);
    position: relative;

    .br-table-header-cell-content {
      flex-shrink: 1;
      max-width: 100%;
    }
  }

  th:hover {
    --table-hover-display: var(--table-cell-hover-display);
  }

  .br-table-cell-hover-container {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .br-table-cell-shadow-container {
    content: '';
    position: absolute;
    overflow: hidden;
    top: -1px;
    right: 0;
    bottom: -1px;
    left: calc(100% - var(--size-unit) * 4);
    transform: translateX(calc(var(--size-unit) * 4));
    pointer-events: none;
    z-index: 1;

    .br-table-cell-shadow-inner-container {
      width: 50%;
      height: 100%;
      background-color: var(--color-background);
      transform: translateX(-100%);
    }
  }
}

:host([no-padding]:not([no-padding='false'])) {
  .br-table-header-cell-wrapper {
    padding: 0;
  }
}

:host {
  .br-table-cell-shadow-container-right {
    left: 0;
    right: calc(100% - var(--size-unit) * 4);
    transform: translateX(calc(var(--size-unit) * 4 * -1));

    .br-table-cell-shadow-inner-container-right {
      background-color: var(--color-background);
      transform: translateX(200%);
    }
  }
}

:host([text-align='center']) {
  .br-table-header-cell-wrapper {
    justify-content: center;
  }
}
:host([text-align='left']) {
  .br-table-header-cell-wrapper {
    justify-content: flex-start;
  }
}
:host([text-align='right']) {
  .br-table-header-cell-wrapper {
    justify-content: flex-end;
  }
}

:host([text-align='justify']) {
  .br-table-cell-content {
    width: 100%;
    height: 100%;
  }
}

:host([theme='Light']) {
  .br-table-cell-hover-container {
    box-shadow: var(--table-cell-hover-shadow);
  }
  .br-table-cell-shadow-inner-container {
    box-shadow: calc(var(--template-shadow-spread) * 4) 0px calc(var(--template-shadow-blur) * 8)
      0px color-mix(in srgb, var(--color-black) 15%, transparent);
  }
}

:host([theme='Light']) {
  .br-table-cell-shadow-inner-container-right {
    box-shadow:
      calc(var(--template-shadow-spread) * 4 * -1) 0px calc(var(--template-shadow-blur) * 8) 0px
        color-mix(in srgb, var(--color-black) 15%, transparent),
      -1px 0px 0px 0px var(--table-border-right-sticky-shadow-color, transparent);
  }
}

:host([theme='Dark']) {
  .br-table-cell-hover-container {
    box-shadow: var(--table-cell-hover-shadow);
  }
  .br-table-cell-shadow-inner-container {
    box-shadow: calc(var(--template-shadow-spread) * 4) 0px calc(var(--template-shadow-blur) * 8)
      0px color-mix(in srgb, var(--color-black) 55%, transparent);
  }
}

:host([theme='Dark']) {
  .br-table-cell-shadow-inner-container-right {
    box-shadow:
      calc(var(--template-shadow-spread) * 4 * -1) 0px calc(var(--template-shadow-blur) * 8) 0px
        color-mix(in srgb, var(--color-black) 55%, transparent),
      -1px 0px 0px 0px var(--table-border-right-sticky-shadow-color, transparent);
  }
}

:host(:first-child) {
  th {
    border-left: var(--table-border-vertical-edge-color, var(--table-border-vertical-color));
  }
}

:host(:last-child) {
  th {
    border-right: var(--table-border-vertical-edge-color, var(--table-border-vertical-color));
  }
}
