@import url('../../../../global/css/reset.css');

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: none;
  box-sizing: border-box;
}

:host {
  > br-button[size][shape].br-tree-item-wrapper-first {
    --button-border-bottom-left-radius: 0px;
    --button-border-bottom-right-radius: 0px;
  }
}

:host {
  > br-button[size][shape]:not(.br-tree-item-wrapper-first):not(.br-tree-item-wrapper-last) {
    --button-border-bottom-left-radius: 0px;
    --button-border-bottom-right-radius: 0px;
    --button-border-top-left-radius: 0px;
    --button-border-top-right-radius: 0px;
  }
}

:host {
  > br-button[size][shape].br-tree-item-wrapper-last {
    --button-border-top-left-radius: 0px;
    --button-border-top-right-radius: 0px;
  }
}

:host {
  max-width: 100%;
}

:host([size='Xsmall']) {
  --tree-item-padding-size: calc(var(--size-unit) * 1);
}

:host([size='Small']) {
  --tree-item-padding-size: calc(var(--size-unit) * 1);
}

:host([size='Normal']) {
  --tree-item-padding-size: calc(var(--size-unit) * 3);
}

:host([size='Large']) {
  --tree-item-padding-size: calc(var(--size-unit) * 4);
}
