@import url('../../../global/css/reset.css');

:host {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  border-radius: var(--container-border-radius);
  border: var(--container-border);
  background-color: var(--container-background-color);
  background-image: var(--container-background-image);
  margin: var(--container-margin);
  transform: var(--container-transform);
  width: var(--container-width);
  height: var(--container-height);
  min-width: var(--container-min-width);
  min-height: var(--container-min-height);
  max-width: var(--container-max-width);
  max-height: var(--container-max-height);
  opacity: var(--container-opacity);
  flex-shrink: var(--container-flex-shrink) !important;
  overflow: var(--container-overflow);
  filter: var(--container-filter);
  box-shadow: var(--container-box-shadow);
  transition: var(--container-transition);
  z-index: var(--container-z-index);

  ::slotted(*:not([size])) {
    --color-default-text: var(--container-text-color);
    --font-family: var(--container-font-family) !important;
    font-size: var(--container-font-size);
    line-height: var(--container-line-height);
  }

  div {
    display: flex;
    box-sizing: border-box;
  }
}

:host(:focus) {
  outline: none;
}

:host(:focus-visible) {
  outline: none;
}

:host([full-width]:not([full-width='false'])) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;
}

:host([full-height]:not([full-height='false'])) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;
}

:host([height='100%']) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;
}

:host([width='100%']) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;
}

:host([width*='px']) {
  flex-shrink: 0;
}

:host([height*='px']) {
  flex-shrink: 0;
}
