@import url('../../../../global/css/reset.css');

:host {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(var(--size-unit) * 16);
  box-shadow: var(--elevation-shadow-0);
  padding: var(--popover-element-padding);
  background-color: var(--color-background);
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  z-index: 2;
}
