:host {
  display: contents;

  ::slotted(*[slot='active']) {
    position: absolute;
    pointer-events: none;
    display: none;
  }
}

:host([active]:not([active='false'])) {
  ::slotted(*:not([slot='active'])) {
    position: absolute;
    pointer-events: none;
    display: none;
  }

  ::slotted(*[slot='active']) {
    position: relative;
    pointer-events: unset;
    display: unset;
  }
}
