:host([value]) {
  opacity: 1;
}

:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.5;
}

:host {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host {
  span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
