@import url('../../../global/css/reset.css');

:host {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  max-width: fit-content;
  --time-picker-content-height: calc(var(--time-picker-button-size) * 5.5);

  .br-time-picker-selectors-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    flex-shrink: 0;
    overflow: hidden;
    height: var(--time-picker-content-height);
  }
}

:host {
  .br-timer-picker-parts {
    position: relative;
    flex-shrink: 0;
    align-items: center;
    width: calc(var(--time-picker-button-size) + var(--size-unit) * 4);
    height: var(--time-picker-content-height);

    br-button:first-child {
      margin-top: calc(var(--size-unit) * 2);
    }

    br-button {
      margin-left: calc(var(--size-unit) * 2);
      margin-right: calc(var(--size-unit) * 2);
    }

    br-button:last-child {
      margin-bottom: calc(var(--size-unit) * 2);
    }
  }

  .br-time-picker-separator {
    width: 1px;
    height: 100%;
    background-color: color-mix(
      in srgb,
      var(--time-picker-background-color) var(--time-picker-background-color-opacity),
      transparent
    );
  }

  .br-time-picker-separator.horizontal {
    height: 1px;
    width: 100%;
    background-color: color-mix(
      in srgb,
      var(--time-picker-background-color) var(--time-picker-background-color-opacity),
      transparent
    );
  }

  .br-time-picker-now-button-container {
    width: 100%;
    box-sizing: border-box;
    padding: calc(var(--size-unit) * 2);
  }
}

:host([theme='Light']) {
  .br-time-picker-separator {
    --time-picker-background-color: var(--color-black);
    --time-picker-background-color-opacity: 10%;
  }
}

:host([theme='Dark']) {
  .br-time-picker-separator {
    --time-picker-background-color: var(--color-black);
    --time-picker-background-color-opacity: 45%;
  }
}

:host([size='Xsmall']) {
  --time-picker-button-size: var(--actionable-element-height-x-small);
}

:host([size='Small']) {
  --time-picker-button-size: var(--actionable-element-height-small);
}

:host([size='Normal']) {
  --time-picker-button-size: var(--actionable-element-height-normal);
}

:host([size='Large']) {
  --time-picker-button-size: var(--actionable-element-height-large);
}

:host {
  .br-time-picker-value-button {
    scroll-margin: calc(var(--size-unit) * 2);
    scroll-snap-align: start start;
    scroll-snap-stop: always;
  }
}

:host {
  .br-time-picker-filler-space {
    height: calc((var(--time-picker-button-size) * 2.5) - calc(var(--size-unit) * 2));
    flex-shrink: 0;
    width: 100%;
  }
}
