@import url('../../../global/css/reset.css');

:host {
  --transition: var(--transition-default);
  display: inline-block;
  position: relative;
  max-width: 100%;

  .br-tag-input-annotation-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    font-family: var(--typography-body-family);
    font-size: var(--tag-input-font-size);
    font-weight: var(--tag-input-font-weight);
    line-height: var(--tag-input-line-height);

    ::slotted(*[slot='hint']) {
      margin-top: var(--tag-input-icon-margin);
    }
  }

  .br-tag-input-wrapper {
    display: inline-flex;
    position: relative;
    flex-grow: 0;
    flex-direction: row;
    align-items: flex-start;
    font-family: var(--typography-body-family);
    cursor: var(--cursor-text);
    transition: var(--transition);
    justify-content: space-around;
    height: 100%;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 1;
  }

  .br-filter-value-wrapper {
    position: relative;
    max-width: 100%;
    min-width: 1ch;
    min-height: var(--tag-input-line-height);
  }

  .br-filter-resizer {
    opacity: 0;
    pointer-events: none;
    font-family: var(--typography-body-family);
    font-size: var(--tag-input-font-size);
    font-weight: var(--tag-input-font-weight);
    line-height: var(--tag-input-line-height);
  }

  input {
    margin: 0;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;
    flex-shrink: 1;
    font-family: var(--typography-body-family);
    transition: var(--transition);
    border: none;
    outline: none;
    text-overflow: ellipsis;
    resize: none;

    &::-webkit-resizer {
      display: none;
    }
  }
}

:host([theme='Light']) {
  .br-tag-input-annotation-wrapper {
    color: var(--color-neutral-400);
  }
}

:host([theme='Dark']) {
  .br-tag-input-annotation-wrapper {
    color: var(--color-neutral-500);
  }
}

:host([shape][size][full-width]:not([full-width='false'])) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;

  .br-tag-input-wrapper {
    width: 100%;
  }
}

:host([shape][size][full-height]:not([full-height='false'])) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;

  .br-tag-input-wrapper {
    height: 100%;
  }
}

:host([shape][size][width='100%']) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;

  .br-tag-input-wrapper {
    width: 100%;
  }
}

:host([shape][size][height='100%']) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;

  .br-tag-input-wrapper {
    height: 100%;
  }
}

:host {
  .br-tag-input-wrapper {
    min-height: var(--tag-input-height);
    padding: var(--tag-input-padding);
    padding-top: var(--tag-input-vertical-padding);
    padding-bottom: var(--tag-input-vertical-padding);
    border-top-left-radius: var(
      --multi-select-border-top-left-radius,
      var(--tag-input-border-top-left-radius)
    );
    border-bottom-left-radius: var(
      --multi-select-border-bottom-left-radius,
      var(--tag-input-border-bottom-left-radius)
    );
    border-top-right-radius: var(
      --multi-select-border-top-right-radius,
      var(--tag-input-border-top-right-radius)
    );
    border-bottom-right-radius: var(
      --multi-select-border-bottom-right-radius,
      var(--tag-input-border-bottom-right-radius)
    );
  }

  input {
    position: absolute;
    width: 100%;
    min-width: 1px;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: var(--tag-input-line-height);
    flex-shrink: 1;
    font-size: var(--tag-input-font-size);
    font-weight: var(--tag-input-font-weight);
    line-height: var(--tag-input-line-height);
  }

  .br-tag-input-content-resizer {
    min-width: 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    box-sizing: border-box;
    max-width: 100%;
    flex-shrink: 1;
    background-color: transparent;
    font-family: var(--typography-body-family);
    font-size: var(--tag-input-font-size);
    font-weight: var(--tag-input-font-weight);
    line-height: var(--tag-input-line-height);
    flex-wrap: wrap;
    gap: calc(var(--tag-input-icon-margin) / 2);

    &:not(.br-resize-vertical) {
      width: 100%;
      max-width: 100%;
      max-height: max-content;
      height: 100%;
    }

    &:not(.br-resize-horizontal) {
      width: 100%;
      max-width: 100%;
    }

    ::slotted(br-tag[slot]) {
      margin-top: calc((var(--tag-input-line-height) - var(--tag-height)) / 2);
      margin-bottom: calc((var(--tag-input-line-height) - var(--tag-height)) / 2);
    }

    br-tag {
      margin-top: calc((var(--tag-input-line-height) - var(--tag-height)) / 2);
      margin-bottom: calc((var(--tag-input-line-height) - var(--tag-height)) / 2);
    }
  }

  br-input-error-display {
    --error-display-icon-size: var(--tag-input-icon-size);
    --error-display-font-size: var(--tag-input-font-size);
    --error-display-icon-margin: var(--tag-input-icon-margin);
  }

  br-input-error-display[type='tooltip'],
  br-button.br-clear-value-button {
    margin-top: calc((var(--tag-input-line-height) - var(--tag-input-icon-size)) / 2);
    margin-left: var(--tag-input-icon-margin);
  }

  br-input-error-display[type='inline'] {
    margin-top: var(--tag-input-icon-margin);
  }

  ::slotted(*[slot='left-icon']) {
    pointer-events: none;
    margin-top: calc((var(--tag-input-line-height) - var(--tag-input-icon-size)) / 2);
    margin-right: var(--tag-input-icon-margin);
  }

  ::slotted(*[slot='right-icon']) {
    pointer-events: none;
    margin-top: calc((var(--tag-input-line-height) - var(--tag-input-icon-size)) / 2);
    margin-left: var(--tag-input-icon-margin);
  }

  ::slotted(*:not([size])) {
    --svg-icon-size: var(--tag-input-icon-size);
  }
}

:host([shape='Rectangular'][size='Xsmall']) {
  --tag-input-height: var(--actionable-element-height-x-small);
  --tag-input-padding: var(--actionable-element-padding-x-small);
  --tag-input-border-top-left-radius: var(--actionable-element-border-radius-x-small);
  --tag-input-border-bottom-left-radius: var(--actionable-element-border-radius-x-small);
  --tag-input-border-top-right-radius: var(--actionable-element-border-radius-x-small);
  --tag-input-border-bottom-right-radius: var(--actionable-element-border-radius-x-small);
  --tag-input-font-size: var(--actionable-element-font-size-x-small);
  --tag-input-font-weight: var(--actionable-element-font-weight);
  --tag-input-line-height: var(--actionable-element-line-height);
  --tag-input-icon-margin: var(--actionable-element-icon-margin-x-small);
  --tag-input-icon-size: var(--actionable-element-icon-size-x-small);
  --tag-input-vertical-padding: calc((var(--tag-input-height) - var(--tag-input-line-height)) / 2);
}

:host([shape='Rectangular'][size='Small']) {
  --tag-input-height: var(--actionable-element-height-small);
  --tag-input-padding: var(--actionable-element-padding-small);
  --tag-input-border-top-left-radius: var(--actionable-element-border-radius-small);
  --tag-input-border-bottom-left-radius: var(--actionable-element-border-radius-small);
  --tag-input-border-top-right-radius: var(--actionable-element-border-radius-small);
  --tag-input-border-bottom-right-radius: var(--actionable-element-border-radius-small);
  --tag-input-font-size: var(--actionable-element-font-size-small);
  --tag-input-font-weight: var(--actionable-element-font-weight);
  --tag-input-line-height: var(--actionable-element-line-height);
  --tag-input-icon-margin: var(--actionable-element-icon-margin-small);
  --tag-input-icon-size: var(--actionable-element-icon-size-small);
  --tag-input-vertical-padding: calc((var(--tag-input-height) - var(--tag-input-line-height)) / 2);
}

:host([shape='Rectangular'][size='Normal']) {
  --tag-input-height: var(--actionable-element-height-normal);
  --tag-input-padding: var(--actionable-element-padding-normal);
  --tag-input-border-top-left-radius: var(--actionable-element-border-radius-normal);
  --tag-input-border-bottom-left-radius: var(--actionable-element-border-radius-normal);
  --tag-input-border-top-right-radius: var(--actionable-element-border-radius-normal);
  --tag-input-border-bottom-right-radius: var(--actionable-element-border-radius-normal);
  --tag-input-font-size: var(--actionable-element-font-size-normal);
  --tag-input-font-weight: var(--actionable-element-font-size);
  --tag-input-line-height: var(--actionable-element-line-height);
  --tag-input-icon-margin: var(--actionable-element-icon-margin-normal);
  --tag-input-icon-size: var(--actionable-element-icon-size-normal);
  --tag-input-vertical-padding: calc((var(--tag-input-height) - var(--tag-input-line-height)) / 2);
}

:host([shape='Rectangular'][size='Large']) {
  --tag-input-height: var(--actionable-element-height-large);
  --tag-input-padding: var(--actionable-element-padding-large);
  --tag-input-border-top-left-radius: var(--actionable-element-border-radius-large);
  --tag-input-border-bottom-left-radius: var(--actionable-element-border-radius-large);
  --tag-input-border-top-right-radius: var(--actionable-element-border-radius-large);
  --tag-input-border-bottom-right-radius: var(--actionable-element-border-radius-large);
  --tag-input-font-size: var(--actionable-element-font-size-large);
  --tag-input-font-weight: var(--actionable-element-font-weight);
  --tag-input-line-height: var(--actionable-element-line-height);
  --tag-input-icon-margin: var(--actionable-element-icon-margin-large);
  --tag-input-icon-size: var(--actionable-element-icon-size-large);
  --tag-input-vertical-padding: calc((var(--tag-input-height) - var(--tag-input-line-height)) / 2);
}

:host {
  .br-tag-input-wrapper {
    background-color: color-mix(
      in srgb,
      var(--tag-input-background-color) var(--tag-input-background-color-opacity),
      transparent
    );
    background-image: var(--tag-input-background-image);
    opacity: var(--tag-input-opacity);
    box-shadow: var(--tag-input-box-shadow);
  }

  input {
    color: color-mix(in srgb, var(--tag-input-color) var(--tag-input-color-opacity), transparent);
  }

  input::placeholder {
    color: color-mix(
      in srgb,
      var(--tag-input-placeholder-color) var(--tag-input-placeholder-color-opacity),
      transparent
    );
  }
}

:host {
  --tag-input-box-shadow-y-offset-unit: calc(
    var(--template-light-position-occlusion-y) * var(--template-light-position-y-direction)
  );

  --tag-input-box-shadow-inset-light: inset 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(15% * max(var(--template-light-strength), 1)),
      transparent
    );
  --tag-input-box-shadow-inset-blur-light: inset 0px
    calc(var(--tag-input-box-shadow-y-offset-unit) * 2) calc(var(--template-shadow-blur) * 4) 0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(10% * var(--template-light-strength)),
      transparent
    );
  --tag-input-box-shadow-inset-hover-light: inset 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-primary-500) calc(50% * max(var(--template-light-strength), 1)),
      transparent
    );
  --tag-input-box-shadow-inset-error-light: inset 0px 0px 0px 2px
    color-mix(in srgb, var(--color-destructive-500) 100%, transparent);
  --tag-input-box-shadow-inset-focused-light: inset 0px 0px 0px 2px
    color-mix(in srgb, var(--color-primary-500) 100%, transparent);
  --tag-input-box-shadow-inset-negated-light: inset 0px 0px 0px 0px
    color-mix(in srgb, var(--color-primary-500) 0%, transparent);
  --tag-input-box-shadow-inset-blur-negated-light: inset 0px
    calc(var(--tag-input-box-shadow-y-offset-unit) * 2) calc(var(--template-shadow-blur) * 4) 0px
    color-mix(in srgb, var(--color-neutral-900) 0%, transparent);

  --tag-input-box-shadow-inset-dark: inset 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(75% * max(var(--template-light-strength), 1)),
      transparent
    );
  --tag-input-box-shadow-inset-blur-dark: inset 0px
    calc(var(--tag-input-box-shadow-y-offset-unit) * 2) calc(var(--template-shadow-blur) * 4) 0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(50% * var(--template-light-strength)),
      transparent
    );
  --tag-input-box-shadow-inset-hover-dark: inset 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-primary-400) calc(75% * max(var(--template-light-strength), 1)),
      transparent
    );
  --tag-input-box-shadow-inset-focused-dark: inset 0px 0px 0px 2px
    color-mix(in srgb, var(--color-primary-400) 100%, transparent);
  --tag-input-box-shadow-inset-error-dark: inset 0px 0px 0px 2px
    color-mix(in srgb, var(--color-destructive-500) 100%, transparent);
}

:host([fill-style='Solid'][theme='Light']) {
  .br-tag-input-wrapper {
    --icon-color-1: var(--color-neutral-500);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-neutral-500);
    --icon-color-2-opacity: 75%;

    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-black);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-placeholder-color: var(--color-black);
    --tag-input-placeholder-color-opacity: 50%;
    --tag-input-box-shadow: var(--tag-input-box-shadow-inset-light),
      var(--tag-input-box-shadow-inset-blur-light);
  }
}

:host([fill-style='Solid'][theme='Light']) {
  .br-tag-input-wrapper:hover {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-black);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: var(--tag-input-box-shadow-inset-hover-light),
      var(--tag-input-box-shadow-inset-blur-light);
  }

  input::selection {
    background-color: color-mix(in srgb, var(--color-primary-400) 25%, transparent);
  }
}

:host([fill-style='Solid'][theme='Light']) {
  .br-tag-input-wrapper.br-tag-input-invalid.br-tag-input-was-touched {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-black);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: var(--tag-input-box-shadow-inset-error-light),
      var(--tag-input-box-shadow-inset-blur-light);
  }
}

:host([fill-style='Solid'][theme='Light']) {
  .br-tag-input-wrapper.br-tag-input-focused,
  .br-tag-input-wrapper.br-tag-input-focused.br-tag-input-invalid.br-tag-input-was-touched {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-black);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: var(--tag-input-box-shadow-inset-focused-light),
      var(--tag-input-box-shadow-inset-blur-light);
  }
}

:host([fill-style='Solid'][theme='Light']) {
  .br-tag-input-wrapper.br-tag-input-disabled {
    --tag-input-background-color: var(--color-black);
    --tag-input-background-color-opacity: 10%;
    --tag-input-color: var(--color-black);
    --tag-input-color-opacity: 50%;
    --tag-input-opacity: 100%;
    --tag-input-placeholder-color: var(--color-black);
    --tag-input-placeholder-color-opacity: 25%;
    --tag-input-box-shadow: var(--tag-input-box-shadow-inset-negated-light),
      var(--tag-input-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Solid'][theme='Light']) {
  .br-tag-input-wrapper.br-tag-input-readonly {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-black);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: var(--tag-input-box-shadow-inset-light),
      var(--tag-input-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Solid'][theme='Dark']) {
  .br-tag-input-wrapper {
    --icon-color-1: var(--color-neutral-300);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-neutral-300);
    --icon-color-2-opacity: 75%;

    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-white);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-placeholder-color: var(--color-white);
    --tag-input-placeholder-color-opacity: 25%;
    --tag-input-box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--tag-input-box-shadow-inset-dark), var(--tag-input-box-shadow-inset-blur-dark);
  }

  input::selection {
    background-color: color-mix(in srgb, var(--color-primary-300) 45%, transparent);
  }
}

:host([fill-style='Solid'][theme='Dark']) {
  .br-tag-input-wrapper:hover {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-white);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--tag-input-box-shadow-inset-hover-dark), var(--tag-input-box-shadow-inset-blur-dark);
  }
}

:host([fill-style='Solid'][theme='Dark']) {
  .br-tag-input-wrapper.br-tag-input-invalid.br-tag-input-was-touched {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-white);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--tag-input-box-shadow-inset-error-dark), var(--tag-input-box-shadow-inset-blur-dark);
  }
}

:host([fill-style='Solid'][theme='Dark']) {
  .br-tag-input-wrapper.br-tag-input-focused,
  .br-tag-input-wrapper.br-tag-input-focused.br-tag-input-invalid.br-tag-input-was-touched {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-white);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--tag-input-box-shadow-inset-focused-dark), var(--tag-input-box-shadow-inset-blur-dark);
  }
}

:host([fill-style='Solid'][theme='Dark']) {
  .br-tag-input-wrapper.br-tag-input-disabled {
    --tag-input-background-color: var(--color-white);
    --tag-input-background-color-opacity: 10%;
    --tag-input-color: var(--color-white);
    --tag-input-color-opacity: 50%;
    --tag-input-opacity: 100%;
    --tag-input-placeholder-color: var(--color-white);
    --tag-input-placeholder-color-opacity: 25%;
    --tag-input-box-shadow: var(--tag-input-box-shadow-inset-negated-light),
      var(--tag-input-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Solid'][theme='Dark']) {
  .br-tag-input-wrapper.br-tag-input-readonly {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-white);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--tag-input-box-shadow-inset-dark), var(--tag-input-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Ghost'][theme='Light']) {
  .br-tag-input-wrapper {
    --icon-color-1: var(--color-neutral-500);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-neutral-500);
    --icon-color-2-opacity: 75%;

    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 0%;
    --tag-input-color: var(--color-black);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-placeholder-color: var(--color-black);
    --tag-input-placeholder-color-opacity: 50%;
    --tag-input-box-shadow: inset 0px 0px 0px 0px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--tag-input-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Ghost'][theme='Light']) {
  .br-tag-input-wrapper:hover {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 0%;
    --tag-input-color: var(--color-black);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: var(--tag-input-box-shadow-inset-hover-light),
      var(--tag-input-box-shadow-inset-blur-light);
  }

  input::selection {
    background-color: color-mix(in srgb, var(--color-primary-400) 25%, transparent);
  }
}

:host([fill-style='Ghost'][theme='Light']) {
  .br-tag-input-wrapper.br-tag-input-invalid.br-tag-input-was-touched {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 0%;
    --tag-input-color: var(--color-black);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: var(--tag-input-box-shadow-inset-error-light),
      var(--tag-input-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Ghost'][theme='Light']) {
  .br-tag-input-wrapper.br-tag-input-focused,
  .br-tag-input-wrapper.br-tag-input-focused.br-tag-input-invalid.br-tag-input-was-touched {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-black);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: var(--tag-input-box-shadow-inset-focused-light),
      var(--tag-input-box-shadow-inset-blur-light);
  }
}

:host([fill-style='Ghost'][theme='Light']) {
  .br-tag-input-wrapper.br-tag-input-disabled {
    --tag-input-background-color: var(--color-black);
    --tag-input-background-color-opacity: 10%;
    --tag-input-color: var(--color-black);
    --tag-input-color-opacity: 50%;
    --tag-input-opacity: 100%;
    --tag-input-placeholder-color: var(--color-black);
    --tag-input-placeholder-color-opacity: 25%;
    --tag-input-box-shadow: var(--tag-input-box-shadow-inset-negated-light),
      var(--tag-input-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Ghost'][theme='Light']) {
  .br-tag-input-wrapper.br-tag-input-readonly {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-black);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: var(--tag-input-box-shadow-inset-light),
      var(--tag-input-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Ghost'][theme='Dark']) {
  .br-tag-input-wrapper {
    --icon-color-1: var(--color-neutral-300);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-neutral-300);
    --icon-color-2-opacity: 75%;

    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 0%;
    --tag-input-color: var(--color-white);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-placeholder-color: var(--color-white);
    --tag-input-placeholder-color-opacity: 25%;
    --tag-input-box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 0%, transparent),
      inset 0px 0px 0px 0px color-mix(in srgb, var(--color-neutral-900) 75%, transparent),
      var(--tag-input-box-shadow-inset-blur-negated-light);
  }

  input::selection {
    background-color: color-mix(in srgb, var(--color-primary-300) 45%, transparent);
  }
}

:host([fill-style='Ghost'][theme='Dark']) {
  .br-tag-input-wrapper:hover {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 0%;
    --tag-input-color: var(--color-white);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--tag-input-box-shadow-inset-hover-dark), var(--tag-input-box-shadow-inset-blur-dark);
  }
}

:host([fill-style='Ghost'][theme='Dark']) {
  .br-tag-input-wrapper.br-tag-input-invalid.br-tag-input-was-touched {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-white);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--tag-input-box-shadow-inset-error-dark), var(--tag-input-box-shadow-inset-blur-dark);
  }
}

:host([fill-style='Ghost'][theme='Dark']) {
  .br-tag-input-wrapper.br-tag-input-focused,
  .br-tag-input-wrapper.br-tag-input-focused.br-tag-input-invalid.br-tag-input-was-touched {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-white);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--tag-input-box-shadow-inset-focused-dark), var(--tag-input-box-shadow-inset-blur-dark);
  }
}

:host([fill-style='Ghost'][theme='Dark']) {
  .br-tag-input-wrapper.br-tag-input-disabled {
    --tag-input-background-color: var(--color-white);
    --tag-input-background-color-opacity: 10%;
    --tag-input-color: var(--color-white);
    --tag-input-color-opacity: 50%;
    --tag-input-opacity: 100%;
    --tag-input-placeholder-color: var(--color-white);
    --tag-input-placeholder-color-opacity: 25%;
    --tag-input-box-shadow: var(--tag-input-box-shadow-inset-negated-light),
      var(--tag-input-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Ghost'][theme='Dark']) {
  .br-tag-input-wrapper.br-tag-input-readonly {
    --tag-input-background-color: var(--color-background);
    --tag-input-background-color-opacity: 100%;
    --tag-input-color: var(--color-white);
    --tag-input-color-opacity: 100%;
    --tag-input-opacity: 100%;
    --tag-input-placeholder-color: var(--color-white);
    --tag-input-placeholder-color-opacity: 50%;
    --tag-input-box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--tag-input-box-shadow-inset-dark), var(--tag-input-box-shadow-inset-blur-negated-light);
  }
}
