:host {
  display: block;
  background-color: var(--color-popover-background);
  border-radius: var(--popover-element-border-radius);
  box-shadow: var(--elevation-shadow-4);
  overflow: visible;
  color: var(--color-popover-color);
  height: 100%;
  max-height: inherit;
  box-sizing: border-box;
  position: relative;

  br-scroll-area {
    max-height: inherit;

    > div {
      padding: var(--popover-element-padding);
    }
  }

  ::slotted(br-select-list) {
    --select-list-item-scroll-margin: var(--popover-element-padding);
  }

  ::slotted(*) {
    color: var(--color-popover-color);
  }
  ::slotted(span) {
    color: var(--color-popover-color);
  }
}

:host([show-overflow]:not([show-overflow='false'])) {
  overflow: visible;
}

:host([no-padding]:not([no-padding='false'])) {
  br-scroll-area {
    max-height: inherit;

    > div {
      padding: 0;
    }
  }
}
