:host {
  display: inline-flex;
  align-items: flex-start;
}

:host([full-width]:not([full-width='false'])) {
  width: 100%;
}

:host([width='100%']) {
  width: 100%;
}

:host([direction='vertical']) {
  flex-direction: column;
  ::slotted(br-field-label) {
    margin-bottom: var(--field-label-margin);
  }
}

:host([direction='horizontal']) {
  justify-content: space-between;

  ::slotted(br-field-label) {
    flex-shrink: 0;
    margin-right: var(--field-label-margin);
  }
}

:host {
  ::slotted(br-field-label[size='Xsmall']) {
    --field-label-margin: var(--actionable-element-icon-margin-x-small);
  }

  ::slotted(*:not(br-field-label)[size='Xsmall']:not(:first-of-type)) {
    margin-top: calc(var(--actionable-element-icon-margin-x-small) * 2);
  }
}

:host {
  ::slotted(br-field-label[size='Small']) {
    --field-label-margin: var(--actionable-element-icon-margin-small);
  }

  ::slotted(*:not(br-field-label)[size='Small']:not(:first-of-type)) {
    margin-top: calc(var(--actionable-element-icon-margin-small) * 2);
  }
}

:host {
  ::slotted(br-field-label[size='Normal']) {
    --field-label-margin: var(--actionable-element-icon-margin-normal);
  }

  ::slotted(*:not(br-field-label)[size='Normal']:not(:first-of-type)) {
    margin-top: calc(var(--actionable-element-icon-margin-normal) * 2);
  }
}

:host {
  ::slotted(br-field-label[size='Large']) {
    --field-label-margin: var(--actionable-element-icon-margin-large);
  }

  ::slotted(*:not(br-field-label)[size='Large']:not(:first-of-type)) {
    margin-top: cacl(var(--actionable-element-icon-margin-large) * 2);
  }
}

:host([direction='horizontal']) {
  ::slotted(br-field-label[size='Xsmall']) {
    margin-top: calc(
      (var(--actionable-element-height-x-small) - var(--actionable-element-line-height)) / 2
    );
  }
}

:host([direction='horizontal']) {
  ::slotted(br-field-label[size='Small']) {
    margin-top: calc(
      (var(--actionable-element-height-small) - var(--actionable-element-line-height)) / 2
    );
  }
}

:host([direction='horizontal']) {
  ::slotted(br-field-label[size='Normal']) {
    margin-top: calc(
      (var(--actionable-element-height-normal) - var(--actionable-element-line-height)) / 2
    );
  }
}

:host([direction='horizontal']) {
  ::slotted(br-field-label[size='Large']) {
    margin-top: calc(
      (var(--actionable-element-height-large) - var(--actionable-element-line-height)) / 2
    );
  }
}
