:host {
  display: block;
  height: 0;
  width: 100%;
  overflow: hidden;
  will-change: height;
  transition: none;

  > .br-accordion-content {
    display: none;
  }
}

:host([animated]:not([animated='false'])) {
  transition: all ease-in calc(var(--transition-short-duration) / 2);
}

:host([is-open]:not([is-open='false'])) {
  > .br-accordion-content {
    display: block;
  }
}

:host([full-width]:not([full-width='false'])) {
  width: 100%;
  flex-shrink: 1;
}

:host([width*='px']) {
  flex-shrink: 0;
}
