@import url('../../../../global/css/reset.css');

:host {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  width: calc(var(--size-unit) * 5.5 - 1px);
  height: calc(var(--size-unit) * 5.5);
  padding: calc(var(--size-unit) * 1.75);
  padding-top: var(--size-unit);
  padding-bottom: var(--size-unit);
  border-radius: calc(var(--actionable-element-border-radius-small) * 1);
  font-size: var(--actionable-element-font-size-x-small);
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: relative;
  box-sizing: border-box;

  .br-key-outline {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: calc(var(--actionable-element-border-radius-small) * 1);
  }

  .br-key-outline::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 5px);
    border-radius: calc(var(--actionable-element-border-radius-small) * 1);
  }

  span {
    text-align: center;
    font-family: var(--typography-body-family);
    font-weight: 600;
    text-transform: uppercase;
    transform: translateY(-1.5px);
    font-size: 12px;
  }
}

:host([theme='Light']) {
  span {
    color: var(--color-neutral-700);
  }

  .br-key-outline {
    box-shadow: 0 0 0 1px var(--color-neutral-500);
    opacity: 0.75;
  }

  .br-key-outline::after {
    opacity: 0.5;
    background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-black) 15%, transparent) 0%,
      color-mix(in srgb, var(--color-white) 50%, transparent) 50%,
      color-mix(in srgb, var(--color-black) 15%, transparent) 100%
    );
  }

  background-color: var(--color-neutral-100);

  box-shadow:
    inset 0 1px 1px 0 color-mix(in srgb, var(--color-white) 85%, transparent),
    inset 0 -4px 0 0 var(--color-neutral-200),
    0
      calc(
        1px * var(--template-light-position-occlusion-y) *
          var(--template-light-position-y-direction)
      )
      calc(var(--template-shadow-blur) * 2) 0
      color-mix(in srgb, var(--color-black) 25%, transparent),
    0
      calc(
        2px * var(--template-light-position-occlusion-y) *
          var(--template-light-position-y-direction)
      )
      calc(var(--template-shadow-blur) * 4) 0
      color-mix(in srgb, var(--color-black) 15%, transparent);
}

:host([theme='Dark']) {
  span {
    color: var(--color-neutral-100);
  }

  .br-key-outline {
    box-shadow: 0 0 0 1px var(--color-black);
    opacity: 0.75;
  }

  .br-key-outline::after {
    opacity: 0.5;
    background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--color-black) 20%, transparent) 0%,
      color-mix(in srgb, var(--color-white) 5%, transparent) 50%,
      color-mix(in srgb, var(--color-black) 20%, transparent) 100%
    );
  }

  background-color: var(--color-neutral-700);
  box-shadow:
    inset 0 1px 1px 0 color-mix(in srgb, var(--color-white) 10%, transparent),
    inset 0 -4px 0 0 var(--color-neutral-800),
    0
      calc(
        1px * var(--template-light-position-occlusion-y) *
          var(--template-light-position-y-direction)
      )
      calc(var(--template-shadow-blur) * 2) 0
      color-mix(in srgb, var(--color-black) 45%, transparent),
    0
      calc(
        2px * var(--template-light-position-occlusion-y) *
          var(--template-light-position-y-direction)
      )
      calc(var(--template-shadow-blur) * 4) 0
      color-mix(in srgb, var(--color-black) 25%, transparent);
}
