@import url('../../../../global/css/reset.css');

:host {
  display: inline-block;
  --field-label-font-weight: 500;

  label {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    font-size: var(--field-label-font-size);
    font-weight: var(--field-label-font-weight);
    line-height: var(--field-label-line-height);
  }

  .br-required-display {
    display: inline-flex;
    align-items: center;

    br-tag {
      margin-left: calc(var(--field-label-icon-margin));
    }
  }

  br-icon.br-required-display-asterisk {
    --svg-icon-size: var(--field-label-icon-size);
  }
}

:host([theme='Light']) {
  label {
    color: var(--color-black);
    --color-default-text: var(--color-black);
  }
}

:host([theme='Dark']) {
  label {
    color: var(--color-white);
    --color-default-text: var(--color-white);
  }
}

:host([size='Xsmall']) {
  --field-label-font-size: var(--actionable-element-font-size-x-small);
  --field-label-line-height: var(--actionable-element-line-height);
  --field-label-icon-margin: var(--actionable-element-icon-margin-x-small);
  --field-label-icon-size: var(--actionable-element-icon-size-x-small);
}

:host([size='Small']) {
  --field-label-font-size: var(--actionable-element-font-size-small);
  --field-label-line-height: var(--actionable-element-line-height);
  --field-label-icon-margin: var(--actionable-element-icon-margin-small);
  --field-label-icon-size: var(--actionable-element-icon-size-small);
}

:host([size='Normal']) {
  --field-label-font-size: var(--actionable-element-font-size-normal);
  --field-label-line-height: var(--actionable-element-line-height);
  --field-label-icon-margin: var(--actionable-element-icon-margin-normal);
  --field-label-icon-size: var(--actionable-element-icon-size-normal);
}

:host([size='Large']) {
  --field-label-font-size: var(--actionable-element-font-size-large);
  --field-label-line-height: var(--actionable-element-line-height);
  --field-label-icon-margin: var(--actionable-element-icon-margin-large);
  --field-label-icon-size: var(--actionable-element-icon-size-large);
}
