:host {
  display: block;
  background-color: var(--separator-color);
  opacity: var(--separator-opacity);
  width: var(--separator-width);
  height: var(--separator-height);
  margin: var(--separator-margin);
  flex-shrink: 0;
  pointer-events: none;
}

:host([full-width]:not([full-width='false'])) {
  width: 100%;
}

:host([full-height]:not([full-height='false'])) {
  height: 100%;
}

:host([width='100%']) {
  width: 100%;
}

:host([height='100%']) {
  height: 100%;
}

:host([width*='px']) {
  flex-shrink: 0;
}

:host([height*='px']) {
  flex-shrink: 0;
}
