:host {
  display: contents;
  position: relative;

  .br-badge-content {
    background-color: var(--badge-color);
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: max-content;
    min-width: var(--badge-size);
    height: var(--badge-size);
    padding: var(--badge-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: var(--badge-border-radius);
    font-size: var(--badge-font-size);
    font-weight: var(--badge-font-weight);
    pointer-events: none;

    ::slotted(*[slot='left-icon']) {
      margin-right: var(--badge-icon-margin);
    }

    ::slotted(*[slot='right-icon']) {
      margin-left: var(--badge-icon-margin);
    }

    ::slotted(br-icon:not([size])) {
      --svg-icon-size: var(--badge-icon-size);
    }
  }

  ::slotted(*) {
    color: var(--badge-text-color);
  }

  ::slotted(span) {
    --color-default-text: var(--badge-text-color);
  }

  ::slotted(br-icon:not([color])) {
    --icon-color-1: var(--badge-text-color);
    --icon-color-2: var(--badge-text-color);
  }
}

:host([size='Small']) {
  --badge-size: calc(var(--actionable-element-height-small) - calc(var(--size-unit) * 1));
  --badge-padding: 0px calc(var(--size-unit) * 1) 0px calc(var(--size-unit) * 1);
  --badge-font-size: var(--actionable-element-font-size-small);
  --badge-font-weight: 400;
  --badge-icon-size: var(--actionable-element-icon-size-small);
  --badge-icon-margin: calc(var(--size-unit) * 1 / 2);
  --badge-border-radius: round(
    calc(
      calc(var(--actionable-element-height-small) - calc(var(--size-unit) * 1)) *
        var(--template-border-radius-height-ratio)
    ),
    var(--template-rounding-number)
  );
}

:host([size='Normal']) {
  --badge-size: calc(var(--actionable-element-height-normal) - calc(var(--size-unit) * 3));
  --badge-padding: 0px calc(var(--size-unit) * 3 / 2) 0px calc(var(--size-unit) * 3 / 2);
  --badge-font-size: var(--actionable-element-font-size-normal);
  --badge-font-weight: 400;
  --badge-icon-size: var(--actionable-element-icon-size-small);
  --badge-icon-margin: calc(var(--size-unit) * 3 / 2 / 2);
  --badge-border-radius: round(
    calc(
      calc(var(--actionable-element-height-normal) - calc(var(--size-unit) * 3)) *
        var(--template-border-radius-height-ratio)
    ),
    var(--template-rounding-number)
  );
}

:host([size='Large']) {
  --badge-size: calc(var(--actionable-element-height-large) - calc(var(--size-unit) * 4));
  --badge-padding: 0px calc(var(--size-unit) * 4 / 2) 0px calc(var(--size-unit) * 4 / 2);
  --badge-font-size: var(--actionable-element-font-size-large);
  --badge-font-weight: 400;
  --badge-icon-size: var(--actionable-element-icon-size-normal);
  --badge-icon-margin: calc(var(--size-unit) * 4 / 2 / 2);
  --badge-border-radius: round(
    calc(
      calc(var(--actionable-element-height-large) - calc(var(--size-unit) * 4)) *
        var(--template-border-radius-height-ratio)
    ),
    var(--template-rounding-number)
  );
}
