@import url('../../../global/css/reset.css');

:host {
  --transition: var(--transition-default);
  display: inline-flex;
  position: relative;
  max-width: 100%;
  height: var(--switch-size);

  .br-switch-wrapper {
    display: inline-flex;
    align-items: center;
  }

  .br-switch-content {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }

  .br-switch-control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: var(--transition);

    input[type='checkbox'] {
      width: 100%;
      height: 100%;
      opacity: 0;
      padding: 0;
      border: 0;
      outline: 0;
      margin: 0;
      appearance: none;
    }
  }

  br-icon {
    position: absolute;
    pointer-events: none;
    --svg-icon-size: var(--switch-icon-size);
  }

  ::slotted(br-icon[slot='checked-icon']:not([size])) {
    --svg-icon-size: var(--switch-icon-size);
  }

  ::slotted(br-icon[slot='unchecked-icon']:not([size])) {
    --svg-icon-size: var(--switch-icon-size);
  }

  ::slotted(*[slot='checked-icon']) {
    position: absolute;
    pointer-events: none;
  }

  ::slotted(*[slot='unchecked-icon']) {
    position: absolute;
    pointer-events: none;
  }
}

:host([checked]:not([checked='false'])) {
  slot[name='checked-icon'] {
    br-icon {
      display: block;
    }
  }

  ::slotted(br-icon[slot='unchecked-icon']) {
    display: none;
  }

  ::slotted(br-icon[slot='checked-icon']) {
    display: block;
  }
}

:host(:not([checked]:not([checked='false']))) {
  slot[name='checked-icon'] {
    br-icon {
      display: none;
    }
  }

  ::slotted(br-icon[slot='checked-icon']) {
    display: none;
  }

  ::slotted(br-icon[slot='unchecked-icon']) {
    display: block;
  }
}

:host(:hover) {
  cursor: var(--cursor-pointer);

  input[type='checkbox'] {
    cursor: var(--cursor-pointer);
  }
}

:host {
  input[type='checkbox'][disabled] {
    cursor: var(--cursor-not-allowed);
  }
}

:host {
  font-family: var(--typography-body-family);
  --switch-font-weight: 400;

  br-input-error-display {
    --error-display-icon-size: var(--switch-icon-size);
    --error-display-font-size: var(--switch-font-size);
    --error-display-icon-margin: var(--switch-icon-margin);
  }

  br-input-error-display[type='tooltip'],
  br-button.br-clear-value-button {
    margin-left: var(--switch-icon-margin);
  }

  br-input-error-display[type='inline'] {
    margin-top: var(--switch-icon-margin);
  }

  ::slotted(*:not([slot])) {
    margin-left: calc(var(--switch-icon-margin) * 2);
  }

  .br-switch-content {
    font-size: var(--switch-font-size);
    font-weight: var(--switch-font-weight);
    line-height: var(--switch-line-height);

    ::slotted(*:not([slot])) {
      font-size: var(--switch-font-size);
      font-weight: var(--switch-font-weight);
      line-height: var(--switch-line-height);
    }

    ::slotted(br-field-label) {
      --field-label-font-size: var(--switch-font-size);
      --field-label-font-weight: var(--switch-font-weight);
      --field-label-line-height: var(--switch-line-height);
    }
  }

  .br-switch-control {
    width: calc(var(--switch-size) * 1.75);
    height: var(--switch-size);
    border-radius: var(--switch-border-radius);
  }
}

:host {
  .br-switch-control-handle {
    transition: var(--transition);
    width: var(--switch-size);
    height: var(--switch-size);
    position: absolute;
    left: 0;
    border-radius: var(--switch-border-radius);
    pointer-events: none;
    box-shadow: var(--switch-handle-box-shadow);
    background-color: color-mix(
      in srgb,
      var(--switch-handle-background-color) var(--switch-handle-background-color-opacity),
      transparent
    );
    outline-offset: var(--switch-outline-offset);
    outline: var(--switch-outline);
  }
}

:host([checked]:not([checked='false'])) {
  .br-switch-control-handle {
    left: calc(var(--switch-size) * 0.75);
  }
}

:host([size='Xsmall']) {
  --switch-font-size: var(--actionable-element-font-size-x-small);
  --switch-line-height: var(--actionable-element-xsmall-line-height);
  --switch-icon-size: var(--actionable-element-icon-size-x-small);
  --switch-size: var(--actionable-element-icon-size-x-small);
  --switch-icon-margin: var(--actionable-element-icon-margin-x-small);
  --switch-border-radius: var(--actionable-element-border-radius-x-small);
}

:host([size='Small']) {
  --switch-font-size: var(--actionable-element-font-size-small);
  --switch-line-height: var(--actionable-element-small-line-height);
  --switch-icon-size: var(--actionable-element-icon-size-small);
  --switch-size: var(--actionable-element-icon-size-small);
  --switch-icon-margin: var(--actionable-element-icon-margin-small);
  --switch-border-radius: var(--actionable-element-border-radius-small);
}

:host([size='Normal']) {
  --switch-font-size: var(--actionable-element-font-size-normal);
  --switch-line-height: var(--actionable-element-normal-line-height);
  --switch-icon-size: var(--actionable-element-icon-size-normal);
  --switch-size: var(--actionable-element-icon-size-normal);
  --switch-icon-margin: var(--actionable-element-icon-margin-normal);
  --switch-border-radius: var(--actionable-element-border-radius-normal);
}

:host([size='Large']) {
  --switch-font-size: var(--actionable-element-font-size-large);
  --switch-line-height: var(--actionable-element-large-line-height);
  --switch-icon-size: var(--actionable-element-icon-size-large);
  --switch-size: var(--actionable-element-icon-size-large);
  --switch-icon-margin: var(--actionable-element-icon-margin-large);
  --switch-border-radius: var(--actionable-element-border-radius-normal);
}

:host {
  .br-switch-control {
    outline-offset: var(--switch-outline-offset);
    outline: var(--switch-outline);
    background-color: color-mix(
      in srgb,
      var(--switch-background-color) var(--switch-background-color-opacity),
      transparent
    );
    opacity: var(--switch-opacity);
    box-shadow: var(--switch-box-shadow);
  }
}

:host {
  --switch-handle-box-shadow-y-offset-unit: calc(
    var(--template-light-position-occlusion-y) * var(--template-light-position-y-direction)
  );

  --switch-handle-box-shadow-base-light: 0px var(--switch-handle-box-shadow-y-offset-unit)
    calc(var(--template-shadow-blur) * 2) 0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(15% * var(--template-light-strength)),
      transparent
    );
  --switch-handle-box-shadow-base-blur-light: 0px
    calc(var(--switch-handle-box-shadow-y-offset-unit) * 2) calc(var(--template-shadow-blur) * 4)
    0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(15% * var(--template-light-strength)),
      transparent
    );
  --switch-handle-box-shadow-base-outer-light: 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(15% * max(var(--template-light-strength), 1)),
      transparent
    );
  --switch-handle-box-shadow-base-fill-negated-light: inset 0px 0px 0px 0px
    color-mix(in srgb, var(--color-primary-500) 0%, transparent);
  --switch-handle-box-shadow-blur-light: 0px calc(var(--switch-handle-box-shadow-y-offset-unit) * 2)
    calc(var(--template-shadow-blur) * 4) 0px
    color-mix(in srgb, var(--color-neutral-900) 0%, transparent);
  --switch-handle-box-shadow-inset-blur-negated-light: inset 0px
    calc(var(--switch-handle-box-shadow-y-offset-unit) * 2) calc(var(--template-shadow-blur) * 4)
    0px color-mix(in srgb, var(--color-neutral-900) 0%, transparent);
  --switch-handle-box-shadow-inset-blur-light: inset 0px
    calc(var(--switch-handle-box-shadow-y-offset-unit) * 2) calc(var(--template-shadow-blur) * 4)
    0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(10% * var(--template-light-strength)),
      transparent
    );
  --switch-handle-box-shadow-base-hover-light: 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-primary-500) calc(50% * max(var(--template-light-strength), 1)),
      transparent
    );
  --switch-handle-box-shadow-base-active-light: 0px var(--switch-handle-box-shadow-y-offset-unit)
    calc(var(--template-shadow-blur) * 2) 0px
    color-mix(in srgb, var(--color-neutral-900) 0%, transparent);
  --switch-handle-box-shadow-base-error-light: inset 0px 0px 0px 2px
    color-mix(in srgb, var(--color-destructive-500) 100%, transparent);
  --switch-handle-box-shadow-base-container-inset-light: inset 0px
    calc(var(--switch-handle-box-shadow-y-offset-unit) * 2) calc(var(--template-shadow-blur) * 4)
    0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(10% * var(--template-light-strength)),
      transparent
    );
  --switch-handle-box-shadow-base-outer-spread-light: inset 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(15% * max(var(--template-light-strength), 1)),
      transparent
    );

  --switch-handle-box-shadow-base-dark: 0px var(--switch-handle-box-shadow-y-offset-unit)
    calc(var(--template-shadow-blur) * 2) 0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(50% * var(--template-light-strength)),
      transparent
    );
  --switch-handle-box-shadow-base-blur-dark: 0px
    calc(var(--switch-handle-box-shadow-y-offset-unit) * 2) calc(var(--template-shadow-blur) * 4)
    0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(50% * var(--template-light-strength)),
      transparent
    );
  --switch-handle-box-shadow-base-spread-negated-dark: 0px
    var(--switch-handle-box-shadow-y-offset-unit) 0px 0px
    color-mix(in srgb, var(--color-neutral-900) 0%, transparent);
  --switch-handle-box-shadow-base-spread-outer-dark: 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(75% * max(var(--template-light-strength), 1)),
      transparent
    );
  --switch-handle-box-shadow-base-hover-dark: 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-primary-400) calc(95% * max(var(--template-light-strength), 1)),
      transparent
    );
}

:host([theme='Light']) {
  .br-switch-control-handle {
    --switch-handle-background-color: var(--color-popover-background);
    --switch-handle-background-color-opacity: 100%;
    --switch-handle-box-shadow: var(--switch-handle-box-shadow-base-light),
      var(--switch-handle-box-shadow-base-blur-light),
      var(--switch-handle-box-shadow-base-outer-light);
  }

  slot[name='checked-icon'] {
    br-icon {
      --icon-color-1: var(--color-white);
      --icon-color-1-opacity: 100%;
      --icon-color-2: var(--color-white);
      --icon-color-2-opacity: 75%;
    }
  }

  ::slotted(br-icon[slot='checked-icon']:not([color])) {
    --icon-color-1: var(--color-white);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-white);
    --icon-color-2-opacity: 75%;
  }

  ::slotted(br-icon[slot='unchecked-icon']:not([color])) {
    --icon-color-1: var(--color-white);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-white);
    --icon-color-2-opacity: 75%;
  }
}

:host([theme='Light']) {
  .br-switch-wrapper.br-switch-disabled .br-switch-content {
    .br-switch-control {
      --switch-background-color: var(--color-black);
      --switch-background-color-opacity: 10%;
      --switch-box-shadow: var(--switch-handle-box-shadow-base-fill-negated-light),
        var(--switch-handle-box-shadow-inset-blur-light);
    }

    slot[name='checked-icon'] {
      br-icon {
        --icon-color-1: var(--color-black);
        --icon-color-1-opacity: 50%;
        --icon-color-2: var(--color-black);
        --icon-color-2-opacity: 37.5%;
      }
    }

    ::slotted(br-icon[slot='unchecked-icon']:not([color])) {
      --icon-color-1: var(--color-black);
      --icon-color-1-opacity: 50%;
      --icon-color-2: var(--color-black);
      --icon-color-2-opacity: 37.5%;
    }

    ::slotted(br-icon[slot='checked-icon']:not([color])) {
      --icon-color-1: var(--color-black);
      --icon-color-1-opacity: 50%;
      --icon-color-2: var(--color-black);
      --icon-color-2-opacity: 37.5%;
    }
  }
}

:host([theme='Light'][checked]:not([checked='false'])) {
  .br-switch-control {
    --switch-background-color: var(--color-primary-500);
    --switch-background-color-opacity: 100%;
    --switch-box-shadow: var(--switch-handle-box-shadow-base-light),
      var(--switch-handle-box-shadow-base-blur-light),
      inset var(--switch-handle-box-shadow-base-outer-light);
  }
}

:host([theme='Light'][checked]:not([checked='false']):hover) {
  .br-switch-wrapper:not(.br-switch-disabled) {
    .br-switch-control-handle {
      --switch-handle-box-shadow: var(--switch-handle-box-shadow-base-light),
        var(--switch-handle-box-shadow-blur-light), var(--switch-handle-box-shadow-base-hover-light);
    }
  }
}

:host([theme='Light'][checked]:not([checked='false'])) {
  .br-switch-wrapper.br-switch-focused,
  .br-switch-wrapper.br-switch-focused.br-switch-invalid.br-switch-was-touched {
    .br-switch-control-handle {
      --switch-outline: 2px solid color-mix(in srgb, var(--color-primary-700) 100%, transparent);
      --switch-outline-offset: -2px;
    }
  }
}

:host([theme='Light'][checked]:not([checked='false']):active) {
  .br-switch-control {
    --switch-background-color: var(--color-primary-600);
    --switch-box-shadow: var(--switch-handle-box-shadow-base-active-light),
      var(--switch-handle-box-shadow-blur-light),
      inset var(--switch-handle-box-shadow-base-outer-light);
  }
}

:host([theme='Light']:not([checked]:not([checked='false']))) {
  .br-switch-control {
    --switch-box-shadow: var(--switch-handle-box-shadow-base-outer-spread-light),
      var(--switch-handle-box-shadow-inset-blur-light);
  }
}

:host([theme='Light']:not([checked]:not([checked='false'])):hover) {
  .br-switch-wrapper:not(.br-switch-disabled) {
    .br-switch-control-handle {
      --switch-handle-box-shadow: var(--switch-handle-box-shadow-base-light),
        var(--switch-handle-box-shadow-blur-light), var(--switch-handle-box-shadow-base-hover-light);
    }
  }
}

:host([theme='Light']:not([checked]:not([checked='false']))) {
  .br-switch-wrapper.br-switch-focused,
  .br-switch-wrapper.br-switch-focused.br-switch-invalid.br-switch-was-touched {
    .br-switch-control-handle {
      --switch-outline: 2px solid color-mix(in srgb, var(--color-primary-700) 100%, transparent);
      --switch-outline-offset: -2px;
    }
  }

  .br-switch-wrapper.br-switch-invalid.br-switch-was-touched {
    .br-switch-control {
      --switch-box-shadow: var(--switch-handle-box-shadow-base-error-light),
        var(--switch-handle-box-shadow-base-container-inset-light);
    }
  }
}

:host([theme='Dark']) {
  .br-switch-control-handle {
    --switch-handle-background-color: var(--color-popover-background);
    --switch-handle-background-color-opacity: 100%;
    --switch-handle-box-shadow: var(--switch-handle-box-shadow-base-dark),
      var(--switch-handle-box-shadow-base-blur-dark),
      var(--switch-handle-box-shadow-base-spread-negated-dark),
      var(--switch-handle-box-shadow-base-spread-outer-dark);
  }

  slot[name='checked-icon'] {
    br-icon {
      --icon-color-1: var(--color-white);
      --icon-color-1-opacity: 100%;
      --icon-color-2: var(--color-white);
      --icon-color-2-opacity: 75%;
    }
  }

  ::slotted(br-icon[slot='checked-icon']:not([color])) {
    --icon-color-1: var(--color-white);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-white);
    --icon-color-2-opacity: 75%;
  }

  ::slotted(br-icon[slot='unchecked-icon']:not([color])) {
    --icon-color-1: var(--color-white);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-white);
    --icon-color-2-opacity: 75%;
  }
}

:host([theme='Dark']) {
  .br-switch-wrapper.br-switch-disabled .br-switch-content {
    .br-switch-control {
      --switch-background-color: var(--color-white);
      --switch-background-color-opacity: 10%;
      --switch-box-shadow: var(--switch-handle-box-shadow-base-fill-negated-light),
        var(--switch-handle-box-shadow-inset-blur-light);
    }

    slot[name='checked-icon'] {
      br-icon {
        --icon-color-1: var(--color-white);
        --icon-color-1-opacity: 50%;
        --icon-color-2: var(--color-white);
        --icon-color-2-opacity: 37.5%;
      }
    }

    ::slotted(br-icon[slot='unchecked-icon']:not([color])) {
      --icon-color-1: var(--color-white);
      --icon-color-1-opacity: 50%;
      --icon-color-2: var(--color-white);
      --icon-color-2-opacity: 37.5%;
    }

    ::slotted(br-icon[slot='checked-icon']:not([color])) {
      --icon-color-1: var(--color-white);
      --icon-color-1-opacity: 50%;
      --icon-color-2: var(--color-white);
      --icon-color-2-opacity: 37.5%;
    }
  }
}

:host([theme='Dark'][checked]:not([checked='false'])) {
  .br-switch-control {
    --switch-background-color: var(--color-primary-500);
    --switch-background-color-opacity: 100%;
    --switch-box-shadow: var(--switch-handle-box-shadow-base-dark),
      var(--switch-handle-box-shadow-base-blur-dark),
      var(--switch-handle-box-shadow-base-spread-negated-dark),
      var(--switch-handle-box-shadow-base-spread-outer-dark);
  }
}

:host([theme='Dark'][checked]:not([checked='false']):hover) {
  .br-switch-wrapper:not(.br-switch-disabled) {
    .br-switch-control-handle {
      --switch-handle-box-shadow: var(--switch-handle-box-shadow-base-dark),
        var(--switch-handle-box-shadow-blur-light), var(--switch-handle-box-shadow-base-hover-dark);
    }
  }
}

:host([theme='Dark'][checked]:not([checked='false'])) {
  .br-switch-wrapper.br-switch-focused,
  .br-switch-wrapper.br-switch-focused.br-switch-invalid.br-switch-was-touched {
    .br-switch-control-handle {
      --switch-outline: 2px solid color-mix(in srgb, var(--color-primary-300) 100%, transparent);
      --switch-outline-offset: -2px;
    }
  }
}

:host([theme='Dark'][checked]:not([checked='false']):active) {
  .br-switch-control {
    --switch-background-color: var(--color-primary-600);
    --switch-box-shadow: var(--switch-handle-box-shadow-base-dark),
      var(--switch-handle-box-shadow-base-blur-dark),
      var(--switch-handle-box-shadow-base-spread-negated-dark),
      var(--switch-handle-box-shadow-base-spread-outer-dark);
  }
}

:host([theme='Dark']:not([checked]:not([checked='false']))) {
  .br-switch-control {
    --switch-box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      inset var(--switch-handle-box-shadow-base-spread-outer-dark),
      inset var(--switch-handle-box-shadow-base-blur-dark);
  }
}

:host([theme='Dark']:not([checked]:not([checked='false'])):hover) {
  .br-switch-wrapper:not(.br-switch-disabled) {
    .br-switch-control-handle {
      --switch-handle-box-shadow: var(--switch-handle-box-shadow-base-dark),
        var(--switch-handle-box-shadow-blur-light), var(--switch-handle-box-shadow-base-hover-dark);
    }
  }
}

:host([theme='Dark']:not([checked]:not([checked='false']))) {
  .br-switch-wrapper.br-switch-focused,
  .br-switch-wrapper.br-switch-focused.br-switch-invalid.br-switch-was-touched {
    .br-switch-control-handle {
      --switch-outline: 2px solid color-mix(in srgb, var(--color-primary-300) 100%, transparent);
      --switch-outline-offset: -2px;
    }
  }

  .br-switch-wrapper.br-switch-invalid.br-switch-was-touched {
    .br-switch-control {
      --switch-box-shadow: var(--switch-handle-box-shadow-base-error-light),
        var(--switch-handle-box-shadow-base-container-inset-light);
    }
  }
}
