@import url('../../../global/css/reset.css');

:host {
  font-family: var(--typography-body-family);
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: var(--avatar-border-radius);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: var(--avatar-font-size);
  overflow: hidden;
  background-size: cover;
  position: relative;

  --icon-color-1: var(--avatar-color);
  --icon-color-1-opacity: 100%;
  --icon-color-2: var(--avatar-color);
  --icon-color-2-opacity: 75%;

  span {
    color: var(--avatar-color);
  }

  ::slotted(*) {
    color: var(--avatar-color);
  }

  ::slotted(span) {
    --color-default-text: var(--avatar-color);
  }

  .br-avatar-content {
    position: absolute;
    z-index: 2;
    width: var(--avatar-size);
    height: var(--avatar-size);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

:host([size='Xsmall']) {
  --avatar-font-size: calc(var(--actionable-element-font-size-x-small) * 0.75);
  --avatar-size: var(--actionable-element-height-x-small);
  --avatar-border-radius: var(--actionable-element-border-radius-x-small);
}

:host([size='Small']) {
  --avatar-font-size: var(--actionable-element-font-size-small);
  --avatar-size: var(--actionable-element-height-small);
  --avatar-border-radius: var(--actionable-element-border-radius-small);
}

:host([size='Normal']) {
  --avatar-font-size: var(--actionable-element-font-size-normal);
  --avatar-size: var(--actionable-element-height-normal);
  --avatar-border-radius: var(--actionable-element-border-radius-normal);
}

:host([size='Large']) {
  --avatar-font-size: var(--actionable-element-font-size-large);
  --avatar-size: var(--actionable-element-height-large);
  --avatar-border-radius: var(--actionable-element-border-radius-large);
}
