@import url('../../../global/css/reset.css');

:host {
  --transition: var(--transition-default);
  display: inline-block;
  position: relative;
  max-width: 100%;

  .br-textarea-annotation-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    font-family: var(--typography-body-family);
    font-size: var(--textarea-font-size);
    font-weight: var(--textarea-font-weight);
    line-height: var(--textarea-line-height);

    ::slotted(*[slot='hint']) {
      margin-top: var(--textarea-icon-margin);
    }
  }

  .br-textarea-wrapper {
    display: inline-flex;
    position: relative;
    flex-grow: 0;
    flex-direction: row;
    align-items: flex-start;
    font-family: var(--typography-body-family);
    cursor: var(--cursor-text);
    transition: var(--transition);
    justify-content: space-around;
    height: 100%;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 1;
  }

  textarea {
    margin: 0;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;
    flex-shrink: 1;
    font-family: var(--typography-body-family);
    width: 100%;
    height: 100%;
    max-width: 100%;
    transition: var(--transition);
    border: none;
    outline: none;
    text-overflow: ellipsis;
    resize: none;

    &::-webkit-resizer {
      display: none;
    }
  }
}

:host([theme='Light']) {
  .br-textarea-annotation-wrapper {
    color: var(--color-neutral-400);
  }
}

:host([theme='Dark']) {
  .br-textarea-annotation-wrapper {
    color: var(--color-neutral-500);
  }
}

:host([shape][size][full-width]:not([full-width='false'])) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;

  .br-textarea-wrapper {
    width: 100%;
  }
}

:host([shape][size][full-height]:not([full-height='false'])) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;

  .br-textarea-wrapper {
    height: 100%;
  }
}

:host([shape][size][width='100%']) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;

  .br-textarea-wrapper {
    width: 100%;
  }
}

:host([shape][size][height='100%']) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;

  .br-textarea-wrapper {
    height: 100%;
  }
}

:host {
  .br-textarea-wrapper {
    min-height: var(--textarea-height);
    padding: var(--textarea-padding);
    padding-top: var(--textarea-vertical-padding);
    padding-bottom: var(--textarea-vertical-padding);
    border-top-left-radius: var(--textarea-border-top-left-radius);
    border-bottom-left-radius: var(--textarea-border-bottom-left-radius);
    border-top-right-radius: var(--textarea-border-top-right-radius);
    border-bottom-right-radius: var(--textarea-border-bottom-right-radius);
  }

  textarea {
    position: absolute;
    width: 100%;
    font-size: var(--textarea-font-size);
    font-weight: var(--textarea-font-weight);
    line-height: var(--textarea-line-height);
  }

  .br-textarea-content-resizer {
    position: relative;
    display: inline-block;
    align-self: flex-start;
    box-sizing: border-box;
    max-width: 100%;
    flex-shrink: 1;
    background-color: transparent;
    font-family: var(--typography-body-family);
    font-size: var(--textarea-font-size);
    font-weight: var(--textarea-font-weight);
    line-height: var(--textarea-line-height);
    overflow: hidden;

    span {
      display: inline-block;
      pointer-events: none;
      opacity: 0;
      box-sizing: border-box;
      max-width: 100%;

      .inner-value {
        overflow-wrap: break-word;
      }
    }

    &:not(.br-resize-vertical) {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      height: 100%;
    }

    &:not(.br-resize-horizontal) {
      width: 100%;
      max-width: 100%;
    }
  }

  br-input-error-display {
    --error-display-icon-size: var(--textarea-icon-size);
    --error-display-font-size: var(--textarea-font-size);
    --error-display-icon-margin: var(--textarea-icon-margin);
  }

  br-input-error-display[type='tooltip'],
  br-button.br-clear-value-button {
    margin-left: var(--textarea-icon-margin);
  }

  br-input-error-display[type='inline'] {
    margin-top: var(--textarea-icon-margin);
  }

  ::slotted(*[slot='left-icon']) {
    pointer-events: none;
    margin-right: var(--textarea-icon-margin);
  }

  ::slotted(*[slot='right-icon']) {
    pointer-events: none;
    margin-left: var(--textarea-icon-margin);
  }

  ::slotted(*:not([size])) {
    --svg-icon-size: var(--textarea-icon-size);
  }
}

:host([shape='Rectangular'][size='Xsmall']) {
  --textarea-height: var(--actionable-element-height-x-small);
  --textarea-padding: var(--actionable-element-padding-x-small);
  --textarea-border-top-left-radius: var(--actionable-element-border-radius-x-small);
  --textarea-border-bottom-left-radius: var(--actionable-element-border-radius-x-small);
  --textarea-border-top-right-radius: var(--actionable-element-border-radius-x-small);
  --textarea-border-bottom-right-radius: var(--actionable-element-border-radius-x-small);
  --textarea-font-size: var(--actionable-element-font-size-x-small);
  --textarea-font-weight: var(--actionable-element-font-weight);
  --textarea-line-height: var(--actionable-element-line-height);
  --textarea-icon-margin: var(--actionable-element-icon-margin-x-small);
  --textarea-icon-size: var(--actionable-element-icon-size-x-small);
  --textarea-vertical-padding: calc((var(--textarea-height) - var(--textarea-line-height)) / 2);
}

:host([shape='Rectangular'][size='Small']) {
  --textarea-height: var(--actionable-element-height-small);
  --textarea-padding: var(--actionable-element-padding-small);
  --textarea-border-top-left-radius: var(--actionable-element-border-radius-small);
  --textarea-border-bottom-left-radius: var(--actionable-element-border-radius-small);
  --textarea-border-top-right-radius: var(--actionable-element-border-radius-small);
  --textarea-border-bottom-right-radius: var(--actionable-element-border-radius-small);
  --textarea-font-size: var(--actionable-element-font-size-small);
  --textarea-font-weight: var(--actionable-element-font-weight);
  --textarea-line-height: var(--actionable-element-line-height);
  --textarea-icon-margin: var(--actionable-element-icon-margin-small);
  --textarea-icon-size: var(--actionable-element-icon-size-small);
  --textarea-vertical-padding: calc((var(--textarea-height) - var(--textarea-line-height)) / 2);
}

:host([shape='Rectangular'][size='Normal']) {
  --textarea-height: var(--actionable-element-height-normal);
  --textarea-padding: var(--actionable-element-padding-normal);
  --textarea-border-top-left-radius: var(--actionable-element-border-radius-normal);
  --textarea-border-bottom-left-radius: var(--actionable-element-border-radius-normal);
  --textarea-border-top-right-radius: var(--actionable-element-border-radius-normal);
  --textarea-border-bottom-right-radius: var(--actionable-element-border-radius-normal);
  --textarea-font-size: var(--actionable-element-font-size-normal);
  --textarea-font-weight: var(--actionable-element-font-size);
  --textarea-line-height: var(--actionable-element-line-height);
  --textarea-icon-margin: var(--actionable-element-icon-margin-normal);
  --textarea-icon-size: var(--actionable-element-icon-size-normal);
  --textarea-vertical-padding: calc((var(--textarea-height) - var(--textarea-line-height)) / 2);
}

:host([shape='Rectangular'][size='Large']) {
  --textarea-height: var(--actionable-element-height-large);
  --textarea-padding: var(--actionable-element-padding-large);
  --textarea-border-top-left-radius: var(--actionable-element-border-radius-large);
  --textarea-border-bottom-left-radius: var(--actionable-element-border-radius-large);
  --textarea-border-top-right-radius: var(--actionable-element-border-radius-large);
  --textarea-border-bottom-right-radius: var(--actionable-element-border-radius-large);
  --textarea-font-size: var(--actionable-element-font-size-large);
  --textarea-font-weight: var(--actionable-element-font-weight);
  --textarea-line-height: var(--actionable-element-line-height);
  --textarea-icon-margin: var(--actionable-element-icon-margin-large);
  --textarea-icon-size: var(--actionable-element-icon-size-large);
  --textarea-vertical-padding: calc((var(--textarea-height) - var(--textarea-line-height)) / 2);
}

:host {
  --textarea-box-shadow-y-offset-unit: calc(
    var(--template-light-position-occlusion-y) * var(--template-light-position-y-direction)
  );

  --textarea-box-shadow-inset-light: inset 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(15% * max(var(--template-light-strength), 1)),
      transparent
    );
  --textarea-box-shadow-inset-blur-light: inset 0px
    calc(var(--textarea-box-shadow-y-offset-unit) * 2) calc(var(--template-shadow-blur) * 4) 0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(10% * var(--template-light-strength)),
      transparent
    );
  --textarea-box-shadow-inset-hover-light: inset 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-primary-500) calc(50% * max(var(--template-light-strength), 1)),
      transparent
    );
  --textarea-box-shadow-inset-error-light: inset 0px 0px 0px 2px
    color-mix(in srgb, var(--color-destructive-500) 100%, transparent);
  --textarea-box-shadow-inset-focused-light: inset 0px 0px 0px 2px
    color-mix(in srgb, var(--color-primary-500) 100%, transparent);
  --textarea-box-shadow-inset-negated-light: inset 0px 0px 0px 0px
    color-mix(in srgb, var(--color-primary-500) 0%, transparent);
  --textarea-box-shadow-inset-blur-negated-light: inset 0px
    calc(var(--textarea-box-shadow-y-offset-unit) * 2) calc(var(--template-shadow-blur) * 4) 0px
    color-mix(in srgb, var(--color-neutral-900) 0%, transparent);

  --textarea-box-shadow-inset-dark: inset 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(75% * max(var(--template-light-strength), 1)),
      transparent
    );
  --textarea-box-shadow-inset-blur-dark: inset 0px
    calc(var(--textarea-box-shadow-y-offset-unit) * 2) calc(var(--template-shadow-blur) * 4) 0px
    color-mix(
      in srgb,
      var(--color-neutral-900) calc(50% * var(--template-light-strength)),
      transparent
    );
  --textarea-box-shadow-inset-hover-dark: inset 0px 0px 0px 1px
    color-mix(
      in srgb,
      var(--color-primary-400) calc(75% * max(var(--template-light-strength), 1)),
      transparent
    );
  --textarea-box-shadow-inset-focused-dark: inset 0px 0px 0px 2px
    color-mix(in srgb, var(--color-primary-400) 100%, transparent);
  --textarea-box-shadow-inset-error-dark: inset 0px 0px 0px 2px
    color-mix(in srgb, var(--color-destructive-500) 100%, transparent);
}

:host {
  .br-textarea-wrapper {
    background-color: color-mix(
      in srgb,
      var(--background-color) var(--background-color-opacity),
      transparent
    );
    background-image: var(--background-image);
    opacity: var(--opacity);
    box-shadow: var(--box-shadow);
  }

  textarea {
    color: color-mix(in srgb, var(--color) var(--color-opacity), transparent);
    --color-default-text: color-mix(in srgb, var(--color) var(--color-opacity), transparent);
  }

  textarea::placeholder {
    color: color-mix(
      in srgb,
      var(--placeholder-color) var(--placeholder-color-opacity),
      transparent
    );
    --color-default-text: color-mix(
      in srgb,
      var(--placeholder-color) var(--placeholder-color-opacity),
      transparent
    );
  }
}

:host([fill-style='Solid'][theme='Light']) {
  .br-textarea-wrapper {
    --icon-color-1: var(--color-neutral-500);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-neutral-500);
    --icon-color-2-opacity: 75%;

    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-black);
    --color-opacity: 100%;
    --opacity: 100%;
    --placeholder-color: var(--color-black);
    --placeholder-color-opacity: 50%;
    --box-shadow: var(--textarea-box-shadow-inset-light),
      var(--textarea-box-shadow-inset-blur-light);
  }
}

:host([fill-style='Solid'][theme='Light']) {
  .br-textarea-wrapper:hover {
    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-black);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: var(--textarea-box-shadow-inset-hover-light),
      var(--textarea-box-shadow-inset-blur-light);
  }

  textarea::selection {
    background-color: color-mix(in srgb, var(--color-primary-400) 25%, transparent);
  }
}

:host([fill-style='Solid'][theme='Light']) {
  .br-textarea-wrapper.br-textarea-invalid.br-textarea-was-touched {
    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-black);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: var(--textarea-box-shadow-inset-error-light),
      var(--textarea-box-shadow-inset-blur-light);
  }
}

:host([fill-style='Solid'][theme='Light']) {
  .br-textarea-wrapper.br-textarea-focused,
  .br-textarea-wrapper.br-textarea-focused.br-textarea-invalid.br-textarea-was-touched {
    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-black);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: var(--textarea-box-shadow-inset-focused-light),
      var(--textarea-box-shadow-inset-blur-light);
  }
}

:host([fill-style='Solid'][theme='Light']) {
  .br-textarea-wrapper.br-textarea-disabled {
    --background-color: var(--color-black);
    --background-color-opacity: 10%;
    --color: var(--color-black);
    --color-opacity: 50%;
    --opacity: 100%;
    --placeholder-color: var(--color-black);
    --placeholder-color-opacity: 25%;
    --box-shadow: var(--textarea-box-shadow-inset-negated-light),
      var(--textarea-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Solid'][theme='Light']) {
  .br-textarea-wrapper.br-textarea-readonly {
    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-black);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: var(--textarea-box-shadow-inset-light),
      var(--textarea-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Solid'][theme='Dark']) {
  .br-textarea-wrapper {
    --icon-color-1: var(--color-neutral-300);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-neutral-300);
    --icon-color-2-opacity: 75%;

    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-white);
    --color-opacity: 100%;
    --opacity: 100%;
    --placeholder-color: var(--color-white);
    --placeholder-color-opacity: 25%;
    --box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--textarea-box-shadow-inset-dark), var(--textarea-box-shadow-inset-blur-dark);
  }

  textarea::selection {
    background-color: color-mix(in srgb, var(--color-primary-300) 45%, transparent);
  }
}

:host([fill-style='Solid'][theme='Dark']) {
  .br-textarea-wrapper:hover {
    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-white);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--textarea-box-shadow-inset-hover-dark), var(--textarea-box-shadow-inset-blur-dark);
  }
}

:host([fill-style='Solid'][theme='Dark']) {
  .br-textarea-wrapper.br-textarea-invalid.br-textarea-was-touched {
    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-white);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--textarea-box-shadow-inset-error-dark), var(--textarea-box-shadow-inset-blur-dark);
  }
}

:host([fill-style='Solid'][theme='Dark']) {
  .br-textarea-wrapper.br-textarea-focused,
  .br-textarea-wrapper.br-textarea-focused.br-textarea-invalid.br-textarea-was-touched {
    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-white);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--textarea-box-shadow-inset-focused-dark), var(--textarea-box-shadow-inset-blur-dark);
  }
}

:host([fill-style='Solid'][theme='Dark']) {
  .br-textarea-wrapper.br-textarea-disabled {
    --background-color: var(--color-white);
    --background-color-opacity: 10%;
    --color: var(--color-white);
    --color-opacity: 50%;
    --opacity: 100%;
    --placeholder-color: var(--color-white);
    --placeholder-color-opacity: 25%;
    --box-shadow: var(--textarea-box-shadow-inset-negated-light),
      var(--textarea-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Solid'][theme='Dark']) {
  .br-textarea-wrapper.br-textarea-readonly {
    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-white);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--textarea-box-shadow-inset-dark), var(--textarea-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Ghost'][theme='Light']) {
  .br-textarea-wrapper {
    --icon-color-1: var(--color-neutral-500);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-neutral-500);
    --icon-color-2-opacity: 75%;

    --background-color: var(--color-background);
    --background-color-opacity: 0%;
    --color: var(--color-black);
    --color-opacity: 100%;
    --opacity: 100%;
    --placeholder-color: var(--color-black);
    --placeholder-color-opacity: 50%;
    --box-shadow: inset 0px 0px 0px 0px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--textarea-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Ghost'][theme='Light']) {
  .br-textarea-wrapper:hover {
    --background-color: var(--color-background);
    --background-color-opacity: 0%;
    --color: var(--color-black);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: var(--textarea-box-shadow-inset-hover-light),
      var(--textarea-box-shadow-inset-blur-light);
  }

  textarea::selection {
    background-color: color-mix(in srgb, var(--color-primary-400) 25%, transparent);
  }
}

:host([fill-style='Ghost'][theme='Light']) {
  .br-textarea-wrapper.br-textarea-invalid.br-textarea-was-touched {
    --background-color: var(--color-background);
    --background-color-opacity: 0%;
    --color: var(--color-black);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: var(--textarea-box-shadow-inset-error-light),
      var(--textarea-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Ghost'][theme='Light']) {
  .br-textarea-wrapper.br-textarea-focused,
  .br-textarea-wrapper.br-textarea-focused.br-textarea-invalid.br-textarea-was-touched {
    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-black);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: var(--textarea-box-shadow-inset-focused-light),
      var(--textarea-box-shadow-inset-blur-light);
  }
}

:host([fill-style='Ghost'][theme='Light']) {
  .br-textarea-wrapper.br-textarea-disabled {
    --background-color: var(--color-black);
    --background-color-opacity: 10%;
    --color: var(--color-black);
    --color-opacity: 50%;
    --opacity: 100%;
    --placeholder-color: var(--color-black);
    --placeholder-color-opacity: 25%;
    --box-shadow: var(--textarea-box-shadow-inset-negated-light),
      var(--textarea-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Ghost'][theme='Light']) {
  .br-textarea-wrapper.br-textarea-readonly {
    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-black);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: var(--textarea-box-shadow-inset-light),
      var(--textarea-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Ghost'][theme='Dark']) {
  .br-textarea-wrapper {
    --icon-color-1: var(--color-neutral-300);
    --icon-color-1-opacity: 100%;
    --icon-color-2: var(--color-neutral-300);
    --icon-color-2-opacity: 75%;

    --background-color: var(--color-background);
    --background-color-opacity: 0%;
    --color: var(--color-white);
    --color-opacity: 100%;
    --opacity: 100%;
    --placeholder-color: var(--color-white);
    --placeholder-color-opacity: 25%;
    --box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 0%, transparent),
      inset 0px 0px 0px 0px color-mix(in srgb, var(--color-neutral-900) 75%, transparent),
      var(--textarea-box-shadow-inset-blur-negated-light);
  }

  textarea::selection {
    background-color: color-mix(in srgb, var(--color-primary-300) 45%, transparent);
  }
}

:host([fill-style='Ghost'][theme='Dark']) {
  .br-textarea-wrapper:hover {
    --background-color: var(--color-background);
    --background-color-opacity: 0%;
    --color: var(--color-white);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--textarea-box-shadow-inset-hover-dark), var(--textarea-box-shadow-inset-blur-dark);
  }
}

:host([fill-style='Ghost'][theme='Dark']) {
  .br-textarea-wrapper.br-textarea-invalid.br-textarea-was-touched {
    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-white);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--textarea-box-shadow-inset-error-dark), var(--textarea-box-shadow-inset-blur-dark);
  }
}

:host([fill-style='Ghost'][theme='Dark']) {
  .br-textarea-wrapper.br-textarea-focused,
  .br-textarea-wrapper.br-textarea-focused.br-textarea-invalid.br-textarea-was-touched {
    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-white);
    --color-opacity: 100%;
    --opacity: 100%;
    --box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--textarea-box-shadow-inset-focused-dark), var(--textarea-box-shadow-inset-blur-dark);
  }
}

:host([fill-style='Ghost'][theme='Dark']) {
  .br-textarea-wrapper.br-textarea-disabled {
    --background-color: var(--color-white);
    --background-color-opacity: 10%;
    --color: var(--color-white);
    --color-opacity: 50%;
    --opacity: 100%;
    --placeholder-color: var(--color-white);
    --placeholder-color-opacity: 25%;
    --box-shadow: var(--textarea-box-shadow-inset-negated-light),
      var(--textarea-box-shadow-inset-blur-negated-light);
  }
}

:host([fill-style='Ghost'][theme='Dark']) {
  .br-textarea-wrapper.br-textarea-readonly {
    --background-color: var(--color-background);
    --background-color-opacity: 100%;
    --color: var(--color-white);
    --color-opacity: 100%;
    --opacity: 100%;
    --placeholder-color: var(--color-white);
    --placeholder-color-opacity: 50%;
    --box-shadow: inset 0px 0px 0px 1000px
        color-mix(in srgb, var(--color-neutral-900) 15%, transparent),
      var(--textarea-box-shadow-inset-dark), var(--textarea-box-shadow-inset-blur-negated-light);
  }
}
