@import url('../../../global/css/reset.css');

:host {
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;

  .br-color-preview-color {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .br-color-preview-shadow {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: round(
      calc(100% * var(--template-border-radius-height-ratio)),
      var(--template-rounding-number)
    );
  }

  .br-color-preview-inner-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: round(
      calc(100% * var(--template-border-radius-height-ratio)),
      var(--template-rounding-number)
    );
  }

  .br-color-preview-color-empty {
    position: absolute;
    width: 100%;
    height: 100%;

    transform: rotate(45deg) scale(2) translateY(0px);
    transform-origin: top left;
    border-radius: 0px;
  }
}

:host([theme='Light']) {
  .br-color-preview-color-empty {
    box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.2);
  }
  .br-color-preview-inner-shadow {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
  .br-color-preview-checkered-background {
    background-color: transparent;
    background-image: repeating-linear-gradient(
        45deg,
        color-mix(in srgb, var(--color-black) 15%, transparent) 25%,
        transparent 25%,
        transparent 75%,
        color-mix(in srgb, var(--color-black) 15%, transparent) 75%,
        color-mix(in srgb, var(--color-black) 15%, transparent)
      ),
      repeating-linear-gradient(
        45deg,
        color-mix(in srgb, var(--color-black) 15%, transparent) 25%,
        transparent 25%,
        transparent 75%,
        color-mix(in srgb, var(--color-black) 15%, transparent) 75%,
        color-mix(in srgb, var(--color-black) 15%, transparent)
      );
    background-position:
      0 0,
      var(--size-unit) var(--size-unit);
    background-size: calc(var(--size-unit) * 2) calc(var(--size-unit) * 2);
  }
}

:host([theme='Dark']) {
  .br-color-preview-color-empty {
    box-shadow: inset 0 0 0 0.5px rgba(255, 255, 255, 0.2);
  }
  .br-color-preview-inner-shadow {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  }
  .br-color-preview-checkered-background {
    background-image: repeating-linear-gradient(
        45deg,
        color-mix(in srgb, var(--color-black) 45%, transparent) 25%,
        transparent 25%,
        transparent 75%,
        color-mix(in srgb, var(--color-black) 45%, transparent) 75%,
        color-mix(in srgb, var(--color-black) 45%, transparent)
      ),
      repeating-linear-gradient(
        45deg,
        color-mix(in srgb, var(--color-black) 45%, transparent) 25%,
        transparent 25%,
        transparent 75%,
        color-mix(in srgb, var(--color-black) 45%, transparent) 75%,
        color-mix(in srgb, var(--color-black) 45%, transparent)
      );
    background-position:
      0 0,
      var(--size-unit) var(--size-unit);
    background-size: calc(var(--size-unit) * 2) calc(var(--size-unit) * 2);
  }
}

:host([width*='px']) {
  flex-shrink: 0;
}

:host([height*='px']) {
  flex-shrink: 0;
}
