:host {
  cursor: var(--cursor-pointer);

  a {
    text-decoration: underline;
    color: var(--link-text-color);
    text-decoration-color: var(--link-text-color);
  }

  ::slotted(*) {
    color: var(--link-text-color);
    text-decoration-color: var(--link-text-color);
    --color-default-text: var(--link-text-color);
  }
}

:host() {
  a {
    cursor: var(--cursor-not-allowed);
    pointer-events: none;
  }
}

:host([wrap-around-content]:not([wrap-around-content='false'])) {
  display: contents;

  a {
    display: contents;
  }
}

:host([color-type='Primary'][theme='Light']) {
  --link-text-color: var(--color-primary-500);
}

:host([color-type='Constructive'][theme='Light']) {
  --link-text-color: var(--color-constructive-500);
}

:host([color-type='Destructive'][theme='Light']) {
  --link-text-color: var(--color-destructive-500);
}

:host([color-type='Warning'][theme='Light']) {
  --link-text-color: var(--color-warning-500);
}

:host([color-type='Neutral'][theme='Light']) {
  --link-text-color: var(--color-neutral-500);
}

:host([color-type='Primary'][theme='Dark']) {
  --link-text-color: var(--color-primary-300);
}

:host([color-type='Constructive'][theme='Dark']) {
  --link-text-color: var(--color-constructive-300);
}

:host([color-type='Destructive'][theme='Dark']) {
  --link-text-color: var(--color-destructive-300);
}

:host([color-type='Warning'][theme='Dark']) {
  --link-text-color: var(--color-warning-300);
}

:host([color-type='Neutral'][theme='Dark']) {
  --link-text-color: var(--color-neutral-300);
}
