:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 10;

  .br-container-resize-handle-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    .br-container-resize-default-handle {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-background);
      border-radius: round(
        calc(calc(var(--size-unit) * 2) * var(--template-border-radius-height-ratio)),
        var(--template-rounding-number)
      );
      box-shadow: var(--elevation-shadow-1);
      z-index: 10;
    }

    ::slotted(*) {
      position: absolute;
      z-index: 10;
    }
  }

  .br-container-resize-handle-wrapper:focus-visible {
    outline-offset: calc((var(--size-unit) * -1) / 2);
  }
}

:host(:not([show-handle])) {
  .br-container-resize-handle-wrapper:active {
    outline-offset: calc((var(--size-unit) * -1) / 2);
    border-radius: calc(var(--size-unit) / 4);
    opacity: 1;

    .br-container-resize-default-handle {
      opacity: 0;
    }

    ::slotted(*) {
      opacity: 0;
    }
  }
}

:host([show-handle]:not([show-handle='hover'])) {
  .br-container-resize-handle-wrapper {
    opacity: 1;
    outline-offset: calc((var(--size-unit) * -1) / 2);
    border-radius: calc(var(--size-unit) / 4);
  }
}

:host([show-handle='hover']:hover) {
  .br-container-resize-handle-wrapper {
    opacity: 1;
  }
}

:host([show-handle='hover']:active) {
  .br-container-resize-handle-wrapper {
    outline-offset: calc((var(--size-unit) * -1) / 2);
    border-radius: calc(var(--size-unit) / 4);
    opacity: 1;
  }
}

:host([direction='column']) {
  flex-direction: column;
  height: 100%;
  width: 0px;

  .br-container-resize-handle-wrapper {
    flex-direction: column;
    width: 4px;
    height: 100%;
    cursor: ew-resize;

    .br-container-resize-default-handle {
      width: calc(var(--size-unit) * 2);
      height: calc(var(--size-unit) * 6);
    }
  }
}

:host([direction='row']) {
  flex-direction: column;
  width: 100%;
  height: 0px;
  z-index: 2;

  .br-container-resize-handle-wrapper {
    flex-direction: column;
    width: 100%;
    height: 4px;
    cursor: ns-resize;

    .br-container-resize-default-handle {
      height: calc(var(--size-unit) * 2);
      width: calc(var(--size-unit) * 6);
    }
  }
}

:host([theme='Light']) {
  .br-container-resize-handle-wrapper {
    .br-container-resize-default-handle {
      --icon-color-1: var(--color-neutral-500);
      --icon-color-1-opacity: 100%;
      --icon-color-2: var(--color-neutral-500);
      --icon-color-2-opacity: 75%;
    }
  }

  .br-container-resize-handle-wrapper:focus-visible {
    outline: 2px solid var(--color-primary-500);
  }

  .br-container-resize-handle-wrapper:active {
    outline: 2px solid var(--color-primary-500);
  }
}

:host([theme='Dark']) {
  .br-container-resize-handle-wrapper {
    .br-container-resize-default-handle {
      --icon-color-1: var(--color-neutral-300);
      --icon-color-1-opacity: 100%;
      --icon-color-2: var(--color-neutral-300);
      --icon-color-2-opacity: 75%;
    }
  }

  .br-container-resize-handle-wrapper:focus-visible {
    outline: 2px solid var(--color-primary-300);
  }

  .br-container-resize-handle-wrapper:active {
    outline: 2px solid var(--color-primary-300);
  }
}
