@import url('../../../global/css/reset.css');

:host {
  display: inline-flex;
  flex-direction: column;
  width: max-content;
  --date-picker-precision-wrapper-padding: calc(var(--size-unit) * 2);

  .br-date-picker-root-wrapper {
    display: inline-flex;
    flex-direction: row;
    height: var(--date-picker-root-wrapper-height, var(--date-picker-precision-wrapper-height));
  }

  .br-date-picker-separator {
    flex-shrink: 0;
    width: 1px;
    height: 100%;
    background-color: color-mix(
      in srgb,
      var(--date-picker-background-color) var(--date-picker-background-color-opacity),
      transparent
    );
  }

  .br-date-picker-separator.horizontal {
    height: 1px;
    width: 100%;
    margin-top: calc(var(--size-unit) * 2);
  }

  .br-date-picker-now-button-container {
    display: flex;
    flex-direction: row;
    gap: calc(var(--size-unit) * 2);
    width: 100%;
    box-sizing: border-box;
    padding: calc(var(--size-unit) * 2);
    padding-left: 0;
    padding-right: 0;
  }

  .br-date-picker-precision-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
    width: calc(var(--date-picker-precision-wrapper-width) + calc(var(--size-unit) * 4));
    padding: calc(var(--size-unit) * 2);
  }

  .br-date-picker-calendar {
    display: flex;
    flex-direction: row;
  }

  .br-date-picker-calendar-day-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
  }

  .br-date-picker-calendar-weeks {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .br-date-picker-header-days {
    flex-shrink: 0;
    width: calc(100% / 7);
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: calc(var(--size-unit) * 6);
  }

  .br-date-picker-header-selectors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .br-date-picker-calendar-day-wrapper {
    z-index: 1;
  }

  .br-date-picker-today-marker {
    position: relative;
  }

  .br-date-picker-today-marker::after {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max(calc(var(--date-picker-today-marker-size) * 0.8), 50%);
    box-sizing: border-box;
    height: max(calc(var(--date-picker-today-marker-size) * 0.8), 50%);
    border-radius: 100%;
    opacity: 0.75;
    z-index: -1;
    pointer-events: none;
    content: '';
  }

  .br-date-picker-precision-wrapper {
    box-sizing: border-box;
    height: var(--date-picker-root-wrapper-height, auto);
  }

  br-time-picker {
    height: 100%;
    --time-picker-content-height: 100%;
  }
}

:host(:not([precision='month']):not([precision='day'])) {
  --date-picker-precision-wrapper-padding: calc(var(--size-unit) * 2);
  --date-picker-root-wrapper-height: calc(
    var(--date-picker-precision-wrapper-height) + var(--date-picker-precision-wrapper-padding)
  );

  .br-date-picker-precision-wrapper {
    width: calc(var(--date-picker-precision-wrapper-width) + calc(var(--size-unit) * 4));
    padding: calc(var(--size-unit) * 2);
  }

  .br-date-picker-now-button-container {
    padding-left: calc(var(--size-unit) * 2);
    padding-right: calc(var(--size-unit) * 2);
  }

  .br-date-picker-separator.horizontal {
    margin-top: 0px;
  }
}

:host {
  br-button[size][shape].br-has-selected-bottom {
    --button-border-bottom-left-radius: 0;
    --button-border-bottom-right-radius: 0;
  }

  br-button[size][shape].br-has-selected-left {
    --button-border-top-left-radius: 0;
    --button-border-bottom-left-radius: 0;
  }

  br-button[size][shape].br-has-selected-top {
    --button-border-top-left-radius: 0;
    --button-border-top-right-radius: 0;
  }

  br-button[size][shape].br-has-selected-right {
    --button-border-top-right-radius: 0;
    --button-border-bottom-right-radius: 0;
  }
}

@keyframes animate-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes animate-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

:host {
  .br-date-picker-enter-right {
    animation: animate-from-right var(--transition-short-duration) ease-out;
  }

  .br-date-picker-enter-left {
    animation: animate-from-left var(--transition-short-duration) ease-out;
  }

  .br-date-picker-calendar.br-date-picker-no-animation {
    animation: animate-from-right 0s ease-out;
  }
}

:host([show-week-number]:not([show-week-number='false'])) {
  --date-picker-width-count: 8;
}

:host(:not([show-week-number]:not([show-week-number='false']))) {
  --date-picker-width-count: 7;
}

:host([size='Xsmall']) {
  --date-picker-today-marker-size: var(--actionable-element-height-x-small);

  --date-picker-precision-items-height: var(--actionable-element-height-x-small) * 7;
  --date-picker-precision-items-day-header: calc(var(--size-unit) * 6);
  --date-picker-precision-items-margins: calc(var(--size-unit) * 2);
  --date-picker-precision-wrapper-height: calc(
    var(--date-picker-precision-items-height) + var(--date-picker-precision-items-day-header) +
      var(--date-picker-precision-items-margins) + var(--date-picker-precision-wrapper-padding)
  );

  --date-picker-precision-wrapper-width: calc(
    var(--actionable-element-height-x-small) * var(--date-picker-width-count)
  );

  .br-date-picker-header-selectors,
  .br-date-picker-header,
  .br-date-picker-header-days,
  .br-date-picker-calendar {
    width: calc(var(--actionable-element-height-x-small) * var(--date-picker-width-count));
  }

  .br-date-picker-calendar {
    margin-top: calc(var(--size-unit) * 1);
  }

  .br-date-picker-header-days {
    margin-top: calc(var(--size-unit) * 1);
    font-size: var(--actionable-element-font-size-x-small);
  }

  .br-date-picker-calendar-weeks {
    width: var(--actionable-element-height-x-small);
  }
}

:host([size][variable-height]:not([variable-height='false'])) {
  --date-picker-precision-wrapper-height: auto;
}

:host([size='Xsmall'][precision='month']) {
  --date-picker-precision-items-height: var(--actionable-element-height-x-small) * 7;
  --date-picker-precision-items-margins: calc(var(--size-unit) * 2);
  --date-picker-precision-wrapper-height: calc(
    var(--date-picker-precision-items-height) + var(--date-picker-precision-items-margins) +
      var(--date-picker-precision-wrapper-padding)
  );
}

:host([size='Small']) {
  --date-picker-today-marker-size: var(--actionable-element-height-small);

  --date-picker-precision-items-height: var(--actionable-element-height-small) * 7;
  --date-picker-precision-items-day-header: calc(var(--size-unit) * 6);
  --date-picker-precision-items-margins: calc(var(--size-unit) * 2);
  --date-picker-precision-wrapper-height: calc(
    var(--date-picker-precision-items-height) + var(--date-picker-precision-items-day-header) +
      var(--date-picker-precision-items-margins) + var(--date-picker-precision-wrapper-padding)
  );

  --date-picker-precision-wrapper-width: calc(
    var(--actionable-element-height-small) * var(--date-picker-width-count)
  );

  .br-date-picker-header-selectors,
  .br-date-picker-header,
  .br-date-picker-header-days,
  .br-date-picker-calendar {
    width: calc(var(--actionable-element-height-small) * var(--date-picker-width-count));
  }

  .br-date-picker-calendar {
    margin-top: calc(var(--size-unit) * 1);
  }

  .br-date-picker-header-days {
    margin-top: calc(var(--size-unit) * 1);
    font-size: var(--actionable-element-font-size-small);
  }

  .br-date-picker-calendar-weeks {
    width: var(--actionable-element-height-small);
  }
}

:host([size='Small'][precision='month']) {
  --date-picker-precision-items-height: var(--actionable-element-height-small) * 7;
  --date-picker-precision-items-margins: calc(var(--size-unit) * 2);
  --date-picker-precision-wrapper-height: calc(
    var(--date-picker-precision-items-height) + var(--date-picker-precision-items-margins) +
      var(--date-picker-precision-wrapper-padding)
  );
}

:host([size='Normal']) {
  --date-picker-today-marker-size: var(--actionable-element-height-normal);

  --date-picker-precision-items-height: var(--actionable-element-height-normal) * 7;
  --date-picker-precision-items-day-header: calc(var(--size-unit) * 6);
  --date-picker-precision-items-margins: calc(var(--size-unit) * 2);
  --date-picker-precision-wrapper-height: calc(
    var(--date-picker-precision-items-height) + var(--date-picker-precision-items-day-header) +
      var(--date-picker-precision-items-margins) + var(--date-picker-precision-wrapper-padding)
  );

  --date-picker-precision-wrapper-width: calc(
    var(--actionable-element-height-normal) * var(--date-picker-width-count)
  );

  .br-date-picker-header-selectors,
  .br-date-picker-header,
  .br-date-picker-header-days,
  .br-date-picker-calendar {
    width: calc(var(--actionable-element-height-normal) * var(--date-picker-width-count));
  }

  .br-date-picker-calendar {
    margin-top: calc(var(--size-unit) * 1);
  }

  .br-date-picker-header-days {
    margin-top: calc(var(--size-unit) * 1);
    font-size: var(--actionable-element-font-size-normal);
  }

  .br-date-picker-calendar-weeks {
    width: var(--actionable-element-height-normal);
  }
}

:host([size='Normal'][precision='month']) {
  --date-picker-precision-items-height: var(--actionable-element-height-normal) * 7;
  --date-picker-precision-items-margins: calc(var(--size-unit) * 2);
  --date-picker-precision-wrapper-height: calc(
    var(--date-picker-precision-items-height) + var(--date-picker-precision-items-margins) +
      var(--date-picker-precision-wrapper-padding)
  );
}

:host([size='Large']) {
  --date-picker-today-marker-size: var(--actionable-element-height-large);

  --date-picker-precision-items-height: var(--actionable-element-height-large) * 7;
  --date-picker-precision-items-day-header: calc(var(--size-unit) * 6);
  --date-picker-precision-items-margins: calc(var(--size-unit) * 4);
  --date-picker-precision-wrapper-height: calc(
    var(--date-picker-precision-items-height) + var(--date-picker-precision-items-day-header) +
      var(--date-picker-precision-items-margins) + var(--date-picker-precision-wrapper-padding)
  );

  --date-picker-precision-wrapper-width: calc(
    var(--actionable-element-height-large) * var(--date-picker-width-count)
  );

  .br-date-picker-header-selectors,
  .br-date-picker-header,
  .br-date-picker-header-days,
  .br-date-picker-calendar {
    width: calc(var(--actionable-element-height-large) * var(--date-picker-width-count));
  }

  .br-date-picker-calendar {
    margin-top: calc(var(--size-unit) * 2);
  }

  .br-date-picker-header-days {
    margin-top: calc(var(--size-unit) * 2);
    font-size: var(--actionable-element-font-size-large);
  }

  .br-date-picker-calendar-weeks {
    width: var(--actionable-element-height-large);
  }
}

:host([size='Large'][precision='month']) {
  --date-picker-precision-items-height: var(--actionable-element-height-large) * 7;
  --date-picker-precision-items-margins: calc(var(--size-unit) * 4);
  --date-picker-precision-wrapper-height: calc(
    var(--date-picker-precision-items-height) + var(--date-picker-precision-items-margins) +
      var(--date-picker-precision-wrapper-padding)
  );
}

:host([theme='Light']) {
  .br-date-picker-header-days {
    span {
      opacity: 0.5;
      color: var(--color-neutral-300);
    }
  }

  .br-date-picker-week-count {
    color: var(--color-neutral-300);
  }

  .br-date-picker-today-marker::after {
    border: 1px solid var(--color-neutral-300);
  }

  *[active]:not([active='false']).br-date-picker-today-marker::after {
    border: 1px solid var(--color-primary-300);
  }

  .br-date-picker-separator {
    --date-picker-background-color: var(--color-black);
    --date-picker-background-color-opacity: 10%;
  }
}

:host([theme='Dark']) {
  .br-date-picker-header-days {
    span {
      opacity: 0.5;
      color: var(--color-neutral-600);
    }
  }

  .br-date-picker-week-count {
    color: var(--color-neutral-600);
  }

  .br-date-picker-today-marker::after {
    border: 1px solid var(--color-neutral-600);
  }

  *[active]:not([active='false']).br-date-picker-today-marker::after {
    border: 1px solid var(--color-primary-400);
  }

  .br-date-picker-separator {
    --date-picker-background-color: var(--color-black);
    --date-picker-background-color-opacity: 45%;
  }
}
