.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

input,
button {
  outline: none;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
}

td:not(table td) {
  padding: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  margin: 0;
}

span,
p,
body {
  --font-family: var(--typography-body-family);
  font-family: var(--font-family);
  color: var(--color-default-text);
}

code {
  --font-family: var(--typography-code-family);
  font-family: var(--font-family);
  color: var(--color-default-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-family: var(--typography-headings-family);
  font-family: var(--font-family);

  span,
  ::slotted(span) {
    --font-family: var(--typography-headings-family) !important;
  }
}

h1 {
  font-family: var(--typography-headings-family);
  font-size: calc(var(--size-unit) * 12);
  line-height: calc(var(--size-unit) * 15);
  letter-spacing: 0px;
  color: var(--color-default-text);
}

h2 {
  font-family: var(--typography-headings-family);
  font-size: calc(var(--size-unit) * 10);
  line-height: calc(var(--size-unit) * 13);
  letter-spacing: 0px;
  color: var(--color-default-text);
}

h3 {
  font-family: var(--typography-headings-family);
  font-size: calc(var(--size-unit) * 8);
  line-height: calc(var(--size-unit) * 10);
  letter-spacing: 0px;
  color: var(--color-default-text);
}

h4 {
  font-family: var(--typography-headings-family);
  font-size: calc(var(--size-unit) * 6);
  line-height: calc(var(--size-unit) * 8);
  letter-spacing: 0px;
  color: var(--color-default-text);
}

h5 {
  font-family: var(--typography-headings-family);
  font-size: calc(var(--size-unit) * 4);
  line-height: calc(var(--size-unit) * 6);
  letter-spacing: 0px;
  color: var(--color-default-text);
}

h6 {
  font-family: var(--typography-headings-family);
  font-size: calc(var(--size-unit) * 3);
  line-height: calc(var(--size-unit) * 4);
  letter-spacing: 0px;
  color: var(--color-default-text);
}
