@import url('../../input/css/input.css');

:host {
  input {
    pointer-events: none;
    opacity: 0;
  }

  br-button.br-browse-button {
    margin-left: var(--tag-input-icon-margin);
  }
}

:host([shape='Rectangular'][size='Xsmall']) {
  br-tag-input {
    --tag-input-border-top-left-radius: var(
      --fileinput-border-top-left-radius,
      var(--actionable-element-border-radius-x-small)
    );
    --tag-input-border-bottom-left-radius: var(
      --fileinput-border-bottom-left-radius,
      var(--actionable-element-border-radius-x-small)
    );
    --tag-input-border-top-right-radius: var(
      --fileinput-border-top-right-radius,
      var(--actionable-element-border-radius-x-small)
    );
    --tag-input-border-bottom-right-radius: var(
      --fileinput-border-bottom-right-radius,
      var(--actionable-element-border-radius-x-small)
    );
  }
}

:host([shape='Rectangular'][size='Small']) {
  br-tag-input {
    --tag-input-border-top-left-radius: var(
      --fileinput-border-top-left-radius,
      var(--actionable-element-border-radius-small)
    );
    --tag-input-border-bottom-left-radius: var(
      --fileinput-border-bottom-left-radius,
      var(--actionable-element-border-radius-small)
    );
    --tag-input-border-top-right-radius: var(
      --fileinput-border-top-right-radius,
      var(--actionable-element-border-radius-small)
    );
    --tag-input-border-bottom-right-radius: var(
      --fileinput-border-bottom-right-radius,
      var(--actionable-element-border-radius-small)
    );
  }
}

:host([shape='Rectangular'][size='Normal']) {
  br-tag-input {
    --tag-input-border-top-left-radius: var(
      --fileinput-border-top-left-radius,
      var(--actionable-element-border-radius-normal)
    );
    --tag-input-border-bottom-left-radius: var(
      --fileinput-border-bottom-left-radius,
      var(--actionable-element-border-radius-normal)
    );
    --tag-input-border-top-right-radius: var(
      --fileinput-border-top-right-radius,
      var(--actionable-element-border-radius-normal)
    );
    --tag-input-border-bottom-right-radius: var(
      --fileinput-border-bottom-right-radius,
      var(--actionable-element-border-radius-normal)
    );
  }
}

:host([shape='Rectangular'][size='Large']) {
  br-tag-input {
    --tag-input-border-top-left-radius: var(
      --fileinput-border-top-left-radius,
      var(--actionable-element-border-radius-large)
    );
    --tag-input-border-bottom-left-radius: var(
      --fileinput-border-bottom-left-radius,
      var(--actionable-element-border-radius-large)
    );
    --tag-input-border-top-right-radius: var(
      --fileinput-border-top-right-radius,
      var(--actionable-element-border-radius-large)
    );
    --tag-input-border-bottom-right-radius: var(
      --fileinput-border-bottom-right-radius,
      var(--actionable-element-border-radius-large)
    );
  }
}

:host([show-browse-button]:not([show-browse-button='false'])) {
  br-tag-input[shape][size]::part(tag-input-wrapper) {
    padding-right: var(--tag-input-vertical-padding);
  }
}
