@import url('../../../global/css/reset.css');

:host {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  .br-single-select-wrapper {
    position: relative;
    flex-grow: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 1;

    input {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  br-input-error-display {
    --error-display-icon-size: var(--single-select-icon-size);
    --error-display-font-size: var(--single-select-font-size);
    --error-display-icon-margin: var(--single-select-margin);
  }

  br-input-error-display[type='tooltip'],
  br-button.br-clear-value-button {
    margin-left: var(--single-select-margin);
  }

  br-input-error-display[type='inline'] {
    margin-top: var(--single-select-margin);
  }

  ::slotted(*[slot='hint']) {
    margin-top: var(--single-select-margin);
  }
}

:host([shape][size][full-width]:not([full-width='false'])) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;
}

:host([shape][size][full-height]:not([full-height='false'])) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;
}

:host([shape][size][width='100%']) {
  width: 100%;
  min-width: 0;
  flex-shrink: 1;
}

:host([shape][size][height='100%']) {
  height: 100%;
  min-height: 0;
  flex-shrink: 1;
}

:host([shape='Rectangular'][size='Xsmall']) {
  --single-select-font-size: var(--actionable-element-font-size-x-small);
  --single-select-margin: var(--actionable-element-icon-margin-x-small);
  --single-select-icon-size: var(--actionable-element-icon-size-x-small);
}

:host([shape='Rectangular'][size='Small']) {
  --single-select-font-size: var(--actionable-element-font-size-small);
  --single-select-margin: var(--actionable-element-icon-margin-small);
  --single-select-icon-size: var(--actionable-element-icon-size-small);
}

:host([shape='Rectangular'][size='Normal']) {
  --single-select-font-size: var(--actionable-element-font-size-normal);
  --single-select-margin: var(--actionable-element-icon-margin-normal);
  --single-select-icon-size: var(--actionable-element-icon-size-normal);
}

:host([shape='Rectangular'][size='Large']) {
  --single-select-font-size: var(--actionable-element-font-size-large);
  --single-select-margin: var(--actionable-element-icon-margin-large);
  --single-select-icon-size: var(--actionable-element-icon-size-large);
}

:host([width*='px']) {
  flex-shrink: 0;
}

:host([height*='px']) {
  flex-shrink: 0;
}
