@import url('../../input/css/input.css');

:host {
  span br-button span {
    font-family: var(--typography-body-family);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
    line-height: var(--input-line-height);
    color: color-mix(in srgb, var(--input-color) var(--input-color-opacity), transparent);
  }

  span input {
    min-width: 3ch;
    min-height: var(--input-line-height);
    margin-left: var(--input-icon-margin);
    font-size: var(-input-font-size) !important;
    font-weight: var(--input-font-weight) !important;
    line-height: var(--input-line-height) !important;
  }
}
