:host {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  background-color: var(--color-background);
  box-shadow: var(--elevation-shadow-4);
  color: var(--color-popover-color);
  z-index: var(--z-index-modals);
  overflow: hidden;
  max-height: inherit;
  box-sizing: border-box;
  position: relative;
  scale: 1;
  opacity: 1;
  transition: var(--transition-default);

  br-scroll-area {
    z-index: 1;
    flex-shrink: 1;

    > div {
      padding: var(--popover-element-padding);
    }
  }

  ::slotted(br-select-list) {
    --select-list-item-scroll-margin: var(--popover-element-padding);
  }

  ::slotted(*) {
    color: var(--color-popover-color);
  }
  ::slotted(span) {
    color: var(--color-popover-color);
  }
}

:host(:not([max-width]):not([placement='top']):not([placement='bottom'])) {
  min-width: calc(var(--size-unit) * 120);
  max-width: calc(var(--size-unit) * 120);
  height: 100%;
}

:host([placement='left']) {
  height: 100%;
}

:host([placement='right']) {
  height: 100%;
}

:host([placement='top']) {
  width: 100vw;
  transform: translateY(0%);
}

:host([placement='bottom']) {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  transform: translateY(0%);
}

:host([show-overflow]:not([show-overflow='false'])) {
  overflow: visible;
}

:host([no-padding]:not([no-padding='false'])) {
  br-scroll-area {
    flex-shrink: 1;

    > div {
      padding: 0;
    }
  }
}

:host(.br-drawer-content-has-scroll) {
  ::slotted(br-drawer-header) {
    box-shadow: var(--elevation-shadow-2);
  }
}
